<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>CONSUMO APROXIMADO POR COMPONENTE
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Consumo de Artefactos</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <!--<div class="col-lg-6"><div class="panel-heading">Generar Gráficos</div></div>-->
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-1"><label>&nbsp;&nbsp;&nbsp;Componente:</label></div>
                        <div class="col-md-4">&nbsp;&nbsp;&nbsp;<input type="text" id="descriComp" ng-model="componente" class="form-group input-sm"></div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-1"><label>&nbsp;&nbsp;&nbsp;&nbsp;Edificio:</label></div>
                        <div class="col-md-3">&nbsp;&nbsp;&nbsp;<div custom-select="t for t in nestedItemsLevelEdificio | filter: $searchTerm" ng-change="onChangeEdificio()" custom-select-options="nodoPinAgregar.edificio" ng-model="idEdificio"></div></div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <center><b><span style="color: red">{{tipoEdificio}}</span></b></center>

                    <center>
                        <!--<button type="button" ng-click="generarGrafico()" class="btn btn-success btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> Generar Gráfico </button>-->
                    </center>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="well">
                                <div class=" display text-center">
                                    <span id="hor">00</span>:<span id="min">00</span>:<span id="seg">00</span>
                                </div>
                            </div>

                            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                                <a  id="btn_play" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </a>
                                <a  id="btn_pause" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                </a>
<!--                                <a  id="btn_stop" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                </a>-->
                                <a  id="btn_lap" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>

                            <br>
                            <div class="well well_laps">
                                Consumos:
                                <div class="pull-right">
                                    <a href="javascript:" id="btn_clear"><span class="glyphicon glyphicon-trash"></span> Clear</a>
                                </div>
                                <hr>
                                <div id="log" class="log">
                                    <ul class="list-group"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//            window.onload = function () {
                document.getElementById("descriComp").focus();
//            };
//            $(document).ready(function () {

//                var vueltas = 0;
//                var cron;
//                var sv_min = 0;
//                var sv_hor = 0;
//                var sv_seg = 0;
//                var seg = document.getElementById('seg');
//                var min = document.getElementById('min');
//                var hor = document.getElementById('hor');
//                var iniciado = false; //init status of cron
//
//                $("#btn_play").click(function () {
//                    if (!iniciado) {
//                        iniciado = true;
//                        start_cron();
//                    }
//                });
//
//                function start_cron() {
//                    cron = setInterval(function () {
//                        sv_seg++;
//                        if (sv_seg < 60) {
//                            if (sv_seg < 10) {
//                                seg.innerHTML = "0" + sv_seg;
//                            } else {
//                                seg.innerHTML = sv_seg;
//                            }
//                        } else {
//                            sv_seg = 0;
//                            seg.innerHTML = "00";
//                            sv_min++;
//                            if (sv_min < 60) {
//                                if (sv_min < 10) {
//                                    min.innerHTML = "0" + sv_min;
//                                } else {
//                                    min.innerHTML = sv_min;
//                                }
//                            } else {
//                                sv_min = 0;
//                                min.innerHTML = "00";
//                                sv_hor++;
//                                if (sv_hor < 10) {
//                                    hor.innerHTML = "0" + sv_hor;
//                                } else {
//                                    hor.innerHTML = sv_hor;
//                                }
//                            }
//                        }
//                    }, 1000);
//                }
//
//                $("#btn_pause").click(function () {
//                    clearInterval(cron);
//                    iniciado = false;
//                });
//
//                $("#btn_stop").click(function () {
//                    sv_min = 0;
//                    sv_hor = 0;
//                    sv_seg = 0;
//                    seg.innerHTML = "00";
//                    min.innerHTML = "00";
//                    hor.innerHTML = "00";
//                    clearInterval(cron);
//                    iniciado = false;
//                });
//
//                $("#btn_lap").click(function () {
//                    vueltas++;
//                    consola('<li class="list-group-item"><small>' + vueltas + '</small>     ' + hor.innerHTML + ":" + min.innerHTML + ":" + seg.innerHTML + '</li>');
//                });
//
//                function consola(msg) {
//                    $("#log").prepend(msg);
//                }
//
//                $("#btn_clear").click(function () {
//                    $("#log").html("");
//                    vueltas = 0;
//                });
//
//
//            });
</script>
