<html ng-app="domoAdminApp">
    <head>
        <title>DomoAdmin | 2017</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="../../../../../../script/lib/moment.js" type="text/javascript"></script>

        <script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>
        <link href="../../../css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--<link href="../../../css/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome.min.css" rel="stylesheet" type="text/css"/>-->
        <!--<link href="../../../css/fontawesome.min.css" rel="stylesheet" type="text/css"/>-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <!--<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">-->
        <!--<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>-->
        <!--<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">-->

        <script src="../../../script/lib/angularjs.js" type="text/javascript"></script>
        <!--<link href="../../../css/listBoxCss.css" rel="stylesheet" type="text/css"/>-->

        <!START pagination-->
    <script src="../../../script/lib/angular-animate.js" type="text/javascript"></script>
    <script src="../../../script/lib/angular-sanitize.js" type="text/javascript"></script>
    <!--<script src="../../../script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
    <script src="../../../script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
    <!FINISH <!pagination-->
        <link href="../../../css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>

        <link href="../../../css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/png" href="../../../img/icon_1.png" />

        <!--template-->
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link href="../../../template/css/styles.css" rel="stylesheet" type="text/css"/>

        <!--Icons-->
        <script src="../../../template/js/lumino.glyphs.js" type="text/javascript"></script>
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>

        <link href="../../../css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="../../../script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>
        <!--<script src="../../../https://rawgit.com/CautemocSg/ng-ip-address/master/ngIpAddress.min.js"></script>-->
        <link href="../../../css/estiloBotonesAdmin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="UsuarioEdificioDetallesCtrl">
        <div class="container">
            <!--<body >-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="reload()"><span>Admin</span>instración</a>
                        <ul class="user-menu">
                            <li class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{userLog}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
                                    <li><a href="../../../menu.html"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Regresar al Menú</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div><!-- /.container-fluid -->
            </nav>

            <!--<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">-->

            <br>
            <div class="row">
                <ol class="breadcrumb">
                    &nbsp;&nbsp;<li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active"></li>Administración
                </ol>
            </div>

            <div class="fa-3x">
                <i class="fas fa-spinner fa-spin"></i>
                <i class="fas fa-circle-notch fa-spin"></i>
                <i class="fas fa-sync fa-spin"></i>
                <i class="fas fa-cog fa-spin"></i>
                <i class="fas fa-spinner fa-pulse"></i>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Panel de Administraciones</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!--<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span> Habitación 01</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--                                            <i class="fa fa-yelp"></i>
                                                                                        <i class="fa fa-yelp" aria-hidden="true"></i>-->
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>Remover</a>
                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/ligth.png" alt="" style="width: 22px; height: 22px"/> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-success btn-lg" role="button"><img src="../../../img/admin/door.png" alt="" style="width: 22px; height: 22px"/> <br/>Localizar</a>
                                                <a href="#" class="btn btn-success btn-lg" role="button"><i class="icomoon icon-enter"></i> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-trash"></span> <br/>Remover</a>
                                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-refresh"></span> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Localizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-pencil"></span> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->	
                </div>
                <div class="col-sm-6">
                    <!--<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span> Habitación 01</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-trash"></span> <br/>Remover</a>
                                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-refresh"></span> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Localizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-pencil"></span> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="col-sm-6">
                    <!--<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span> Habitación 01</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-trash"></span> <br/>Remover</a>
                                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-refresh"></span> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Localizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-pencil"></span> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span> Habitación 02</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-trash"></span> <br/>Remover</a>
                                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-refresh"></span> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Localizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-pencil"></span> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span> Habitación 03</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-trash"></span> <br/>Remover</a>
                                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-refresh"></span> <br/>Atualizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Localizar</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-pencil"></span> <br/>Anotações</a>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Alunos</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Servidores</a>
                                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-off"></span> <br/>Sair</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>


        <!--<script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../../script/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/base64.js" type="text/javascript"></script>
        <script src="../../../script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <script src="../../../script/lib/customSelect.js" type="text/javascript"></script>

        <!--CHART-->
        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
        <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  
        <!--FIN CHART-->

        <script src="../../../script/lib/angular-route.js" type="text/javascript"></script>
        <script src="../../../script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/ngCookies.js" type="text/javascript"></script>
        <script src="../../../script/app.js" type="text/javascript"></script>

        <script src="../../../script/controller/usuario-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/controlAcceso-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/roles-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/modulo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/marca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/dependencia-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/ciudad-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoEdificio-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/personas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/andeCategoria-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placa-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/elemento-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/parametro-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/fallido-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/accesoFinger-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoComponente-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tarifas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/edificios-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodos-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/componentes-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/administracion-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/manejo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlaca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlacaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/plan-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumoGral-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodoPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/usuarioEdificio-controller.js" type="text/javascript"></script>

        <script src="../../../script/service/usuario-service.js" type="text/javascript"></script>
        <script src="../../../script/service/persona-service.js" type="text/javascript"></script>
        <script src="../../../script/service/controlAcceso-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol-service.js" type="text/javascript"></script>
        <script src="../../../script/service/modulo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/marca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/dependencia-service.js" type="text/javascript"></script>
        <script src="../../../script/service/ciudad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoEdificio-service.js" type="text/javascript"></script>
        <script src="../../../script/service/andeCategoria-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placa-service.js" type="text/javascript"></script>
        <script src="../../../script/service/elemento-service.js" type="text/javascript"></script>
        <script src="../../../script/service/parametro-service.js" type="text/javascript"></script>
        <script src="../../../script/service/fallido-service.js" type="text/javascript"></script>
        <script src="../../../script/service/accesoFinger-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoComponente-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tarifas-service.js" type="text/javascript"></script>
        <script src="../../../script/service/edificios-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodos-service.js" type="text/javascript"></script>
        <script src="../../../script/service/componentes-service.js" type="text/javascript"></script>
        <script src="../../../script/service/entidad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/administracion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlaca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlacaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/plan-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumoGral-service.js" type="text/javascript"></script>
        <script src="../../../script/service/control_nodo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodoPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol_funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/usuarioRol-service.js" type="text/javascript"></script>
        <script src="../../../script/service/usuarioEdificio-service.js" type="text/javascript"></script>

        <!--template-->
        <script src="../../../template/js/chart.min.js" type="text/javascript"></script>
        <script src="../../../script/pickList.js" type="text/javascript"></script>


    </body>
</html>