<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Usuarios
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Listado de Usuarios</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="well" style="margin-top:2em;">
                <div>
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th class="col-md-1">COD</th>
                                <th class="col-md-3">NOMBRE Y APELLIDO</th>
                                <th class="col-md-1">EMAIL</th>
                                <th class="col-md-1">USUARIO</th>
                                <th class="col-md-1">SUSPENDIDO</th>
                                <th class="col-md-2">P. ACCESO</th>
                                <th class="col-md-2">U. ACCESSO</th>
                                <th class="col-md-1">OPERACION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-1">
                                    <input type="text" ng-model="idFilter" class="form-control" placeholder="Código">
                                </td>
                                <td class="col-md-3">
                                    <input type="text" ng-model="fullnameFilter" class="form-control" placeholder="Nombre y Apellido">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" ng-model="emailFilter" class="form-control" placeholder="Email">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" ng-model="usuarioFilter" class="form-control" placeholder="Usuario">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" ng-model="activoFilter" class="form-control" placeholder="Estado">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" ng-model="primerFilter" class="form-control" placeholder="Primer Acceso">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" ng-model="ultimoFilter" class="form-control" placeholder="Ultimo Acceso">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" disabled="" ng-model="categoriaFilter" class="form-control" placeholder="Operación">
                                </td>
                            </tr>
                            <tr data-ng-repeat="person in people| filter:{'id': idFilter} | filter:{'fullname':fullnameFilter} | filter:{'email':emailFilter}  | filter:{'username': usuarioFilter} | filter:{'suspended': activoFilter} | filter:{'firstaccess': primerFilter} | filter:{'lastaccess': ultimoFilter} | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage">

                                <td class="col-md-1" >{{person.id}}</td>
                                <td class="col-md-3" >{{person.fullname}}</td>
                                <td class="col-md-1" >{{person.email}}</td>
                                <td class="col-md-1" >{{person.username}}</td>
                                <td class="col-md-1" >
                                    {{person.suspended}}
                                    <!--<div ng-if="person.suspended === false">
                                        ACTIVO
                                    </div>
                                    <div ng-if="person.suspended === true">
                                        INACTIVO
                                    </div>-->
                                </td>
                                <td class="col-md-2" >{{person.firstaccess}}</td>
                                <td class="col-md-2" >{{person.lastaccess}}</td>
                                <td class="col-md-1">
                        <center>
                            <!--<button class="btn btn-danger btn-sm" ng-click="eliminar(person)" ><span class="glyphicon glyphicon-trash"></span></button>-->
                            <button class="btn btn-primary btn-sm" ng-click="modificar(person)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul uib-pagination 
                        total-items="(people | filter:{'id': idFilter} | filter:{'fullname':fullnameFilter} | filter:{'email':emailFilter}  | filter:{'username': usuarioFilter} | filter:{'suspended': activoFilter} | filter:{'firstaccess': primerFilter} | filter:{'lastaccess': ultimoFilter}).length" 
                        items-per-page="itemsPerPage"
                        boundary-links="true" ng-model="currentPage"></ul>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                        <div style="text-align: center" id="paginacionesPersonas" >
                                                </div>-->

                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage" 
                            ng-change="pageChangedFiltro()"
                            boundary-links="true"
                            id="paginacionFiltro" style="display: none"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                        </pagination>
                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage"
                            style="display: none"
                            ng-change="pageChangedSinFiltro()"
                            id="paginacionSinFiltro"
                            boundary-links="true"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmación de Registro </h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.nombre"></div>
                        <div class="col-md-2"><label>Apellido:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.apellido"></div>
                        
                        <div class="col-md-2"><label>Email:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.email"></div>
                        
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.usuario"></div>
                        
                        <div class="col-md-2"><label>Contraseña:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="personaAgregar.pass"></div>
                        <div class="col-md-2"><label>Repetir:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="personaAgregar.repeti"></div>

                        


                        
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.nombre"></div>
                        <div class="col-md-2"><label>Apellido:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.apellido"></div>
                        
                        <div class="col-md-2"><label>Email:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.email"></div>
                        
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.usuario"></div>
                        
                        <div class="col-md-2"><label>Contraseña:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="personaModificar.pass"></div>
                        <div class="col-md-2"><label>Repetir:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="personaModificar.repeti"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
