<html ng-app="domoAdminApp">
    <head>
        <title>UNG | 2020</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="script/lib/moment.js" type="text/javascript"></script>

        <script src="script/lib/jquery.min.js" type="text/javascript"></script>
        <link href="css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <script src="script/lib/angularjs.js" type="text/javascript"></script>
        <!--<link href="css/listBoxCss.css" rel="stylesheet" type="text/css"/>-->

        <!START pagination-->
    <script src="script/lib/angular-animate.js" type="text/javascript"></script>
    <script src="script/lib/angular-sanitize.js" type="text/javascript"></script>
    <!--<script src="script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
    <script src="script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
    <!FINISH <!pagination-->
        <link href="css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <!--<link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>-->
        <!--<link href="css/font-awesome.css" rel="stylesheet" />-->

        <link href="css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/png" href="img/icon_1.png" />

        <!--template-->
        <link href="template/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link href="template/css/styles.css" rel="stylesheet" type="text/css"/>

        <!--Icons-->
        <script src="template/js/lumino.glyphs.js" type="text/javascript"></script>
        <link href="template/css/datepicker.css" rel="stylesheet" type="text/css"/>

        <link href="css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>
        <!--<script src="https://rawgit.com/CautemocSg/ng-ip-address/master/ngIpAddress.min.js"></script>-->



        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
    </head>
    <body onload="startTime()" ng-controller="listMateriasCtrl">

        <!--<body >-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#"><span>{{nomUsu}}</span>{{apeUsu}}</a>-->
                    <a class="navbar-brand" style="cursor: pointer;" ng-click="reload()"><span>ADMINI</span>STRADOR</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a class="dropdown-toggle" ng-click="cargarMensajes()" data-toggle="dropdown" style="cursor: pointer"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg><span id="mens"></span> ADMIN <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li id="mensajes_view"><a ui-sref="message" id='usuario01'>
                                        <span class="glyphicon glyphicon-envelope">
                                        </span>
                                <!--<span id="registerCount" class="label label-danger">{{registerCount}}</span>Mensajes</a></li>
                                <!--                                        <span id="registerCount" style="color: #d9534f"><b></b></span>Mensajes</a></li>-->
                                <!--<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
                                <!--<li><a ui-sref="cambiarClave" href="#" id='usuario02'><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Cambiar Clave</a></li>-->
                                <!--                                <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
                                <li><a href="#" ng-click="agregarPeriodo()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Periodo</a></li>
                                <li><a href="#" ng-click="listarUltimos()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Lista Periodo</a></li>
                                <li><a href="#" ng-click="salirData()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                </div>
            </form>
            <ul class="nav menu" >
                <li class="active"><a href="menu.html" ng-click="reload()"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Menú del Sistema</a></li>
                <!--                <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
                                <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
                                <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
                                <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
                                <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
                                <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>-->
               
                <li class="parent " onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                    <center><a href="#" onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                        <div id="txt"></div> 
                    </a></center>
                    <ul class="children collapse" id="sub-item-1">
                        <li id="mat" ng-click="addClase('mat')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                            <a class="" href="#" ui-sref="materias" id="admin_materia" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Materias
                            </a>
                        </li>
                        <li id="usu" ng-click="addClase('usu')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                            <a class="" href="#" ui-sref="usuarios" id="admin_usuario" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Usuarios
                            </a>
                        </li>
                        <!--<li id="usu" ng-click="addClase('usu')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                            <a class="" href="#" ui-sref="usuarios" id="admin_usuario" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Usuarios
                            </a>
                        </li>
                        <li id="rl" ng-click="addClase('rl')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                            <a class="" href="#" ui-sref="roles" id="admin_rol" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Roles
                            </a>
                        </li>
                        <li id="adEdi" ng-click="addClase('adEdi')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                            <a class="" href="#" ui-sref="adminEdificio" id="admin_usuario_edificio">
                        <!--onmouseup="this.style ='color:#FFFFFF';" onmousedown="this.style ='color:#30a5ff';"-->

                        <!-- <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Admin Edificio
                     </a>
                 </li>
                 <li ng-click="addClase('fingerPrint_view')" id="fingerPrint_view" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                     <a class="" ui-sref="fingerPrint" id="admin_finger" >
                         <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Finger Print
                     </a>
                 </li>
                 <li id="ha" ng-click="addClase('ha')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                     <a class="" href="#" ui-sref="historial_acceso" id="admin_acceso" >
                         <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Historial Acceso
                     </a>
                 </li>-->
                    </ul>
                </li>
                <!--<li class="parent" onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                    <a href="#" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                        <span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Referenciales 
                    </a>
                    <ul class="children collapse" id="sub-item-2">

                        <li id="ciu" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('ciu')">
                            <a class="" href="#" ui-sref="ciudad" id="admin_ciudad" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Ciudades
                            </a>
                        </li>
                        <li id="marc" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('marc')">
                            <a class="" href="#" ui-sref="marcas" id="admin_marca" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Marcas
                            </a>
                        </li>
                        <li id="edi" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('edi')">
                            <a class="" href="#" ui-sref="edificio" id="admin_edificio" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio
                            </a>
                        </li>
                        <li id="tipoEd" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('tipoEd')">
                            <a class="" href="#" ui-sref="tipoEdificio" id="admin_tipo_edificio" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Tipo Edificio
                            </a>
                        </li>
                        <li id="depe" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('depe')">
                            <a class="" href="#" ui-sref="dependencia" id="admin_dependencia" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Dependencias
                            </a>
                        </li>
                        <li id="pla" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('pla')">
                            <a class="" href="#" ui-sref="placas" id="admin_placa" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Placas
                            </a>
                        </li>
                        <li id="tipoPla" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('tipoPla')">
                            <a class="" href="#" ui-sref="tipoPlaca" id="admin_tipo_placa" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Tipo Placa
                            </a>
                        </li>
                        <li id="tiPlaPin" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('tiPlaPin')">
                            <a class="" href="#" ui-sref="tipoPlacaPin" id="admin_tipo_placa_pin" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Tipo Placa Pin
                            </a>
                        </li>
                        <li id="com" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('com')">
                            <a class="" href="#" ui-sref="componente" id="admin_componente" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Componente
                            </a>
                        </li>
                        <li id="tipCom" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';" ng-click="addClase('tipCom')">
                            <a class="" href="#" ui-sref="tipoComponente" id="admin_tipo_componente" >
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Tipo Componente
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent " onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                    <a href="#" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                        <span data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Control de Consumo 
                    </a>
                    <ul class="children collapse" id="sub-item-3">
                <!--                        <li id="ac" ng-click="addClase('ac')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                                            <a class="" href="#" ui-sref="andeCategoria" id="admin_categoria" >
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Ande Categoria
                                            </a>
                                        </li>-->
                <!--<li id="tar" ng-click="addClase('tar')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="tarifa" id="admin_tarifa" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Tarifas
                    </a>
                </li>
                <li id="probarCon" ng-click="addClase('probarCon')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="pruebaConsumo" id="admin_prueba_consumo" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Probar Consumo
                    </a>
                </li>
                <li id="probarConGral" ng-click="addClase('probarConGral')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="pruebaConsumoGral" id="admin_prueba_consumo_gral" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Probar Consumo Gral
                    </a>
                </li>
                <li id="conArt" ng-click="addClase('conArt')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="consumo" id="admin_consumo_especifico" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Consumo por Artefacto
                    </a>
                </li>
                <li id="conGral" ng-click="addClase('conGral')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="consumo_general" id="admin_consumo_gral" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Consumo General
                    </a>
                </li>
                <!--                        <li>
                                            <a class="" href="#" ui-sref="edificio">
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio
                                            </a>
                                        </li>-->
                <!--                        <li id="nod" ng-click="addClase('nod')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                                            <a class="" href="#" ui-sref="nodo">
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nodo
                                            </a>
                                        </li>
                                        <li id="nodP" ng-click="addClase('nodP')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                                            <a class="" href="#" ui-sref="nodoPin">
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nodo - PIN
                                            </a>
                                        </li>-->
                <!-- </ul>
             </li>
             <li class="parent " onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                 <a href="#" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                     <span data-toggle="collapse" href="#sub-item-4"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Automatización 
                 </a>
                 <ul class="children collapse" id="sub-item-4">
                     <li id="nod" ng-click="addClase('nod')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                         <a class="" href="#" ui-sref="nodo" id="admin_nodo" >
                             <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nodo
                         </a>
                     </li>
                     <li id="nodP" ng-click="addClase('nodP')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                         <a class="" href="#" ui-sref="nodoPin" id="admin_nodo_pin" >
                             <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nodo - PIN
                         </a>
                     </li>
                     <li id="para" ng-click="addClase('para')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                         <a class="" href="#" ui-sref="parametros" id="admin_parametro" >
                             <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Parámetro
                         </a>
                     </li>
                     <li id="plans" ng-click="addClase('plans')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                         <a class="" href="#" ui-sref="plan" id="admin_plan" >
                             <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Planes
                         </a>
                     </li>
                     <li id="sens" ng-click="addClase('sens')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                         <a class="" href="#" ui-sref="sensores" id="admin_sensor" >
                             <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sensores
                         </a>
                     </li>
                 </ul>
             </li>
             <li class="parent " onmouseover="this.style = 'background-color:rgba(101,109,115,.15)';" onmouseout="this.style = 'background-color:rgba(101,109,115,.15)';">
                 <a href="#" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                     <span data-toggle="collapse" href="#sub-item-5"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Monitoreo 
                 </a>
                 <ul class="children collapse" id="sub-item-5">
                <!--                        <li>
                                            <a class="" href="#" ui-sref="placas">
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Placas
                                            </a>
                                        </li>-->
                <!--<li id="adm" ng-click="addClase('adm')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="admin" id="admin_administracion" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Administración
                    </a>
                </li>   
                <li id="tem" ng-click="addClase('tem')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                    <a class="" href="#" ui-sref="temperatura" id="admin_temperatura" >
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> <!--<span id="registerCount" class="label label-danger">{{registerCount}}</span> &nbsp;&nbsp Temperatura-->
                <!-- </a>
             </li>   
             <li id="hum" ng-click="addClase('hum')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                 <a class="" href="#" ui-sref="humo" id="admin_humo" >
                     <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg><!--<span id="registerCount" class="label label-danger">{{registerCount}}</span> &nbsp;&nbsp; Humo-->
                <!--   </a>
              </li>   
              <li id="move" ng-click="addClase('move')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                  <a class="" href="#" ui-sref="movimiento" id="admin_movimiento" >
                      <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg><!--<span id="registerCount" class="label label-danger">{{registerCount}}</span> &nbsp;&nbsp; Movimiento -->
                <!--  </a>
             </li>  --> 
                <!--                        <li id="hume" ng-click="addClase('hume')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                                            <a class="" href="#" ui-sref="humedad" id="admin_humedad" >
                                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg><span id="registerCount" class="label label-danger">{{registerCount}}</span> &nbsp;&nbsp; Humedad
                                            </a>
                                        </li>   -->
                <!--  <li id="manCon" ng-click="addClase('manCon')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                     <a class="" href="partial/monitoreo/admin/edificio02.html" id="admin_manejo_control" >
                         <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Manejo de Controles
                     </a>
                 </li>   
             </ul>
         </li>
                <!--                <li id="conArt" ng-click="addClase('conArt')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';">
                                    <a class="" href="#" ui-sref="consumo" id="admin_consumo_especifico" >
                                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Consumo por Artefacto
                                    </a>
                                </li>-->
                <!-- <li role="presentation" class="divider"></li>
                <li id="conAyuda" ng-click="addClase('conAyuda')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';"><a href="#" ng-click="ayuda()"><i class="fa fa-question-circle"></i> Ayuda </a></li>
                <!--                <li id="conAyuda" ng-click="addClase('conAyuda')" onmouseover="this.style = 'background-color:#292e33';" onmouseout="this.style = 'background-color:#292e33';"><a href="#" ng-click="ayuda()"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Ayuda </a></li>-->
                <!--  </ul>
                <!--<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div>-->
        </div><!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">	

            <div ui-view></div>

        </div>	<!--/.main-->

        <!--<script src="script/lib/jquery.min.js" type="text/javascript"></script>-->
        <script src="script/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="script/lib/base64.js" type="text/javascript"></script>
        <script src="script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <script src="script/lib/customSelect.js" type="text/javascript"></script>

        <!--CHART-->
        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
        <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  
        <!--FIN CHART-->

        <script src="script/lib/angular-route.js" type="text/javascript"></script>
        <script src="script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="script/lib/ngCookies.js" type="text/javascript"></script>
        <script src="script/app.js" type="text/javascript"></script>

        <script src="script/controller/usuario-controller.js" type="text/javascript"></script>
        <script src="script/controller/controlAcceso-controller.js" type="text/javascript"></script>
        <script src="script/controller/roles-controller.js" type="text/javascript"></script>
        <script src="script/controller/modulo-controller.js" type="text/javascript"></script>
        <script src="script/controller/marca-controller.js" type="text/javascript"></script>
        <script src="script/controller/dependencia-controller.js" type="text/javascript"></script>
        <script src="script/controller/ciudad-controller.js" type="text/javascript"></script>
        <script src="script/controller/tipoEdificio-controller.js" type="text/javascript"></script>
        <script src="script/controller/personas-controller.js" type="text/javascript"></script>
        <script src="script/controller/andeCategoria-controller.js" type="text/javascript"></script>
        <script src="script/controller/placa-controller.js" type="text/javascript"></script>
        <script src="script/controller/elemento-controller.js" type="text/javascript"></script>
        <script src="script/controller/parametro-controller.js" type="text/javascript"></script>
        <script src="script/controller/fallido-controller.js" type="text/javascript"></script>
        <script src="script/controller/accesoFinger-controller.js" type="text/javascript"></script>
        <script src="script/controller/tipoComponente-controller.js" type="text/javascript"></script>
        <script src="script/controller/tarifas-controller.js" type="text/javascript"></script>
        <script src="script/controller/edificios-controller.js" type="text/javascript"></script>
        <script src="script/controller/nodos-controller.js" type="text/javascript"></script>
        <script src="script/controller/componentes-controller.js" type="text/javascript"></script>
        <script src="script/controller/administracion-controller.js" type="text/javascript"></script>
        <script src="script/controller/manejo-controller.js" type="text/javascript"></script>
        <script src="script/controller/tipoPlaca-controller.js" type="text/javascript"></script>
        <script src="script/controller/placaPin-controller.js" type="text/javascript"></script>
        <script src="script/controller/tipoPlacaPin-controller.js" type="text/javascript"></script>
        <script src="script/controller/plan-controller.js" type="text/javascript"></script>
        <script src="script/controller/consumo-controller.js" type="text/javascript"></script>
        <script src="script/controller/consumoGral-controller.js" type="text/javascript"></script>
        <script src="script/controller/nodoPin-controller.js" type="text/javascript"></script>
        <script src="script/controller/usuarioEdificio-controller.js" type="text/javascript"></script>
        <script src="script/controller/sensor-controller.js" type="text/javascript"></script>
        <script src="script/controller/sensorNodo-controller.js" type="text/javascript"></script>
        <script src="script/controller/humedad-controller.js" type="text/javascript"></script>
        <script src="script/controller/humo-controller.js" type="text/javascript"></script>
        <script src="script/controller/movimiento-controller.js" type="text/javascript"></script>
        <script src="script/controller/temperatura-controller.js" type="text/javascript"></script>
        <script src="script/controller/materias-controller.js" type="text/javascript"></script>

        <script src="script/service/usuario-service.js" type="text/javascript"></script>
        <script src="script/service/persona-service.js" type="text/javascript"></script>
        <script src="script/service/controlAcceso-service.js" type="text/javascript"></script>
        <script src="script/service/rol-service.js" type="text/javascript"></script>
        <script src="script/service/modulo-service.js" type="text/javascript"></script>
        <script src="script/service/marca-service.js" type="text/javascript"></script>
        <script src="script/service/dependencia-service.js" type="text/javascript"></script>
        <script src="script/service/ciudad-service.js" type="text/javascript"></script>
        <script src="script/service/tipoEdificio-service.js" type="text/javascript"></script>
        <script src="script/service/andeCategoria-service.js" type="text/javascript"></script>
        <script src="script/service/placa-service.js" type="text/javascript"></script>
        <script src="script/service/elemento-service.js" type="text/javascript"></script>
        <script src="script/service/parametro-service.js" type="text/javascript"></script>
        <script src="script/service/fallido-service.js" type="text/javascript"></script>
        <script src="script/service/accesoFinger-service.js" type="text/javascript"></script>
        <script src="script/service/tipoComponente-service.js" type="text/javascript"></script>
        <script src="script/service/tarifas-service.js" type="text/javascript"></script>
        <script src="script/service/edificios-service.js" type="text/javascript"></script>
        <script src="script/service/nodos-service.js" type="text/javascript"></script>
        <script src="script/service/componentes-service.js" type="text/javascript"></script>
        <script src="script/service/entidad-service.js" type="text/javascript"></script>
        <script src="script/service/administracion-service.js" type="text/javascript"></script>
        <script src="script/service/tipoPlaca-service.js" type="text/javascript"></script>
        <script src="script/service/tipoPlacaPin-service.js" type="text/javascript"></script>
        <script src="script/service/placaPin-service.js" type="text/javascript"></script>
        <script src="script/service/plan-service.js" type="text/javascript"></script>
        <script src="script/service/consumo-service.js" type="text/javascript"></script>
        <script src="script/service/consumoGral-service.js" type="text/javascript"></script>
        <script src="script/service/control_nodo-service.js" type="text/javascript"></script>
        <script src="script/service/nodoPin-service.js" type="text/javascript"></script>
        <script src="script/service/funcion-service.js" type="text/javascript"></script>
        <script src="script/service/rol_funcion-service.js" type="text/javascript"></script>
        <script src="script/service/usuarioRol-service.js" type="text/javascript"></script>
        <script src="script/service/usuarioEdificio-service.js" type="text/javascript"></script>
        <script src="script/service/tipoEdificioDependencia-service.js" type="text/javascript"></script>
        <script src="script/service/sensorNodo-service.js" type="text/javascript"></script>
        <script src="script/service/sensores-service.js" type="text/javascript"></script>
        <script src="script/service/humedad-service.js" type="text/javascript"></script>
        <script src="script/service/humo-service.js" type="text/javascript"></script>
        <script src="script/service/movimiento-service.js" type="text/javascript"></script>
        <script src="script/service/temperatura-service.js" type="text/javascript"></script>
        <script src="script/service/materia-service.js" type="text/javascript"></script>

        <!--template-->
        <script src="template/js/chart.min.js" type="text/javascript"></script>
        <script src="script/pickList.js" type="text/javascript"></script>
        <script>
                                    function startTime() {
                                        var today = new Date();
                                        var h = today.getHours();
                                        var m = today.getMinutes();
                                        var s = today.getSeconds();
                                        m = checkTime(m);
                                        s = checkTime(s);
                                        document.getElementById('txt').innerHTML =
                                                h + ":" + m + ":" + s;
                                        var t = setTimeout(startTime, 500);
                                    }
                                    function checkTime(i) {
                                        if (i < 10) {
                                            i = "0" + i
                                        }
                                        ;  // add zero in front of numbers < 10
                                        return i;
                                    }
        </script>
    </body>
</html>