<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Administración de Estados
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Estados</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <!--<div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
        </div>
    </div>
</div> 
<div id="menuInicial" class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Descripción:</label></td>
                                <td><input type="text" class="form-control" placeholder="Búsqueda de Descripción" ng-model="filterText"></td>
                                <td><label>Desde:</label></th>
                                <td><input type="date" placeholder="YYYY-MM-dd" id="startDate" ng-model="startDate"></td>
                                <td><label>Hasta:</label></td>
                                <td><input type="date" placeholder="YYYY-MM-dd" id="endDate" ng-model="endDate"></td>
                                <td>
                                    <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                    <!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-stats"></span></button>
                                </td>
                                <!--<td><button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button></td>-->
                            </tr>
                            <!--                                <tr>
                                                                <td><label>Fecha ejemplo:</label></th>
                                                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda fecha YYYY-MM-DD" id="fechaEjemplo" ng-model="fechaEjemplo"></td>                                  
                                                                <td><button type="button" ng-click="ejemplo()" class="btn-default btn-sm">Ejemplo</button></td>
                                                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;"> 
                <thead >

                <th>#</th>
                <th>Nodo</th>
                <th>Edificio</th>
                <th>Dependencia</th>
                <!--<th>Nodo</th>-->
                <th><center>Estado</center></th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Usuario Alta</th>
                <!--<th>Fin</th>-->
                <!--<th style="text-align: center">Operación</th>-->
                </thead>
                <tbody>
                    <tr ng-repeat="rl in admin">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriAdmin}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <!--<td>{{rl.nodo.descriNodo}}</td>-->
                        <!--<td>{{rl.temperatura}}</td>-->
                        <td ng-if="rl.temperatura === 'A'"> <center>
                    <!--<img src="../../../img/good.png" style="width: 24px;" alt=""/>-->
                    <span class="label label-success">Activo</span>
                </center></td>
                <td ng-if="rl.temperatura === 'C'"><center> 
                    <span class="label label-default">Inactivo</span>
                    <!--<img src="../../../img/error.gif" style="width: 24px;" alt=""/>-->
                </center>
                </td>
                <td>{{rl.fechaInicioAdmin}}</td>
                <td>{{rl.horaInicioAdmin}}</td>
                <td>{{rl.usuario}}</td>
                <!--<td>{{rl.fechaFinAdmin| date:'yyyy-MM-dd HH:mm:ss '}}</td>-->
                </tr>

                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                <div style="text-align: center" id="paginacionesAdministracion" >
                        
                                        </div>-->
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addChart" class="row" style="display: none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Generar Gráficos</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>&nbsp;&nbsp;&nbsp;&nbsp;Edificio</label></div>
                        <div class="col-md-3">&nbsp;&nbsp;&nbsp;<div custom-select="t for t in nestedItemsLevelEdificio | filter: $searchTerm" ng-change="onChangeEdificio()" custom-select-options="nodoPinAgregar.edificio" ng-model="idEdificio"></div></div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;<label>Nodo</label></div>
                        <div class="col-md-3">&nbsp;&nbsp;&nbsp;<div custom-select="t for t in nestedItemsLevel1 | filter: $searchTerm" ng-change="onChange()" custom-select-options="nodoPinAgregar.nodo" ng-model="idNodo"></div></div>

                    </div>
                    <div class="row" id="edificioPlaca" style="display: none">
                        <div class="col-md-2"><label>Placa</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriPlaca"></div>
                        <div class="col-md-1"><label>Ip</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.ipPlaca"></div>
                    </div>
                    <div class="row" id="DependenciaComponente" style="display: none">
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriDependencia"></div>
                        <div class="col-md-1"><label>Componente</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriComponente"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;<label>Fecha:</label></div>
                        <div class="col-md-3"><span></span><input type="date" class="form-control" id="fechaDesde" ng-model="fechaDesde"></div>
                        <!--                        <div class="col-md-1" ><label>Hasta:</label></div>
                                                <div class="col-md-3" ><input type="date" class="form-control" ng-model="fechaHasta"></div>-->
                    </div>
                    <br>
                    <center>
                        <button type="button" ng-click="generarGrafico()" class="btn btn-success btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> Generar Gráfico </button>
                    </center>
                    <br>
                    <br>

                    <!--NEW-->
                    <div id="chart01" style="display: none">
                        <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="80%"></div>
                    </div>
                    <!--FINISH NEW-->

                </div>

            </div>
        </div>
    </div>
</div>





<!--EJEMPLO DE FILTROS POR FECHA: 
https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview

https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview-->
