<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>EDIFICIOS
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Edificios</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>DESCRIPCION:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Edificio" ng-model="filterText"></td>
                                <td><label>TIPO:</label></th>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Tipo" ng-model="tipo"></td>
                                <td><label>CIUDAD:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Ciudad" ng-model="ciudad"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Edificio</th>
                <th>Categoría</th>
                <th>Ciudad</th> 
                <th>Persona</th>
                <th>Tipo Edificio</th>
                <th>IP</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in edificios">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriEdificio}}</td>
                        <td>{{rl.andeCategoria.descriAndeCat}}</td>
                        <td>{{rl.ciudad.descriCiudad}}</td>
                        <td>{{rl.persona.nombrePersona + " " + rl.persona.apellidoPersona}}</td>
                        <td>{{rl.tipoEdificio.descriTipoEdi}}</td>
                        <td>{{rl.ipConsumo}}</td>
                        <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <!--                        <div style="text-align: center" id="paginacionesEdificios" >
                                                </div>-->
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Edificios</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.descriEdificio"></div>
                        <div class="col-md-2"><label>IpConsumo</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" name="demoInput1" ng-model="ipAddress1" ng-ip-address></div>
                        <div class="col-md-2"><label>Dirección</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.direccionEdificio"></div>
                        <div class="col-md-2"><label>Teléfono</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.telefEdificio"></div>
                        <div class="col-md-2"><label>Tipo</label></div>
                        <div class="col-md-10"><div custom-select="t for t in nestedItemsLevelTipo | filter: $searchTerm" custom-select-options="edificioAgregar.tipoEdificio" ng-model="idTipoEdi"></div></div>
                        <div class="col-md-2"><label>Persona</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPersona | filter: $searchTerm" custom-select-options="edificioAgregar.persona" ng-model="idPersona"></div></div>
                        <div class="col-md-2"><label>Ciudad</label></div>
                        <div class="col-md-10"><div custom-select="c for c in nestedItemsLevelCiudad | filter: $searchTerm" custom-select-options="edificioAgregar.ciudad" ng-model="idCiudad"></div></div>
                        <div class="col-md-2"><label>Categoría</label></div>
                        <div class="col-md-8"><div custom-select="ga for ga in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="edificioAgregar.andeCategoria" ng-model="idAndeCat"></div></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="edificioModificar.idEdificio">
                        <div class="row">
                            <div class="col-md-2"><label>Descripción</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.descriEdificio"></div>
                            <div class="col-md-2"><label>IpConsumo</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" name="demoInput1" ng-model="ipAddress1" ng-ip-address></div>
                            <div class="col-md-2"><label>Dirección</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.direccionEdificio"></div>
                            <div class="col-md-2"><label>Teléfono</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.telefEdificio"></div>
                            <div class="col-md-2"><label>Tipo</label></div>
                            <!--<div class="col-md-10"><div custom-select="t for t in nestedItemsLevelTipoMod | filter: $searchTerm" custom-select-options="edificioModificar.tipoEdificio" ng-model="descriTipoEdi"></div></div>-->
                            <div class="col-md-10"><div custom-select="s.descriTipoEdi for s in tipoEdiMod | filter: { descriTipoEdi: $searchTerm } " ng-model="edificioModificar.tipoEdificio"></div></div>
                            <div class="col-md-2"><label>Persona</label></div>
                            <!--<div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPersonaMod | filter: $searchTerm" custom-select-options="edificioModificar.persona" ng-model="descriPersona"></div></div>-->
                            <div class="col-md-10"><div custom-select='(s.nombrePersona+" "+ s.apellidoPersona) for s in personaMod | filter: $searchTerm' ng-model="edificioModificar.persona"></div></div>
                            <div class="col-md-2"><label>Ciudad</label></div>
                            <!--<div class="col-md-10"><div custom-select="c for c in nestedItemsLevelCiudadMod | filter: $searchTerm" custom-select-options="edificioModificar.ciudad" ng-model="descriCiudad"></div></div>-->
                            <div class="col-md-10"><div custom-select="c.descriCiudad for c in ciudadMod | filter: { descriCiudad: $searchTerm } " ng-model="edificioModificar.ciudad"></div></div>
                            <div class="col-md-2"><label>Categoría</label></div>
                            <!--<div class="col-md-8"><div custom-select="s.idAndeCat as s.descriAndeCat for s in categoriasMod track by s.idAndeCat" custom-select-options="edificioModificar.andeCategoria" ng-model="descriAndeCat"></div></div>-->
                            <div class="col-md-8"><div custom-select="s.descriAndeCat for s in categoriasMod | filter: { descriAndeCat: $searchTerm }" ng-model="edificioModificar.andeCategoria"></div></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
