<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Usuarios
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div><!--/.row-->    

<div id="updateUsuario" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Actualización de Contraseña</div></div>
                <div class="col-lg-2"></div>
                <div id="deshabilitarClave" style="display: none" class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="deshabilitarClaves()" ><img src="../../../img/key-secret.jpg" style="width: 48px; height: 48px" alt=""/></a></div>
                </div>
                <div id="habilitarClave" style="display: none" class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="habilitarClaves()" ><img src="../../../img/update-key.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="usuarioModificar.idUsuario">
                        <!--                        <div class="col-md-2"><label>Usuario:</label></div>
                                                <div class="col-md-10"><input type="text" class="form-control" ng-model="usuarioModificar.usuarioUsuario"></div>-->
                        <div class="col-md-2" id="lblClaveActual" ><label>Clave Actual:</label></div>
                        <div class="col-md-6" id="txtClaveActual" ><input type="password" class="form-control" ng-model="usuarioModificar.claveActual"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" id="lblContrasenha" ><label>Contraseña:</label></div>
                        <div class="col-md-6" id="txtContrasenha" ><input type="password" class="form-control" ng-model="usuarioModificar.claveUsuario"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" id="lblConfirmar" ><label>Confirmar</label></div>
                        <div class="col-md-6" id="txtConfirmar" ><input type="password" class="form-control" ng-model="usuarioModificar.confirmacion"></div>
                    </div>
                    <br>

                    <!--NEW-->
                    <!--FINISH NEW-->

                </div>

                <div class="modal-footer ">
                    <center>
                        <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                    </center>
                </div>

            </div>
        </div>
    </div>
</div>
