<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Usuarios
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Usuarios</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>   

<div class="row" id="addMenu">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>USUARIO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Usuario" ng-model="filterText"></td>
                                <td><label>NOMBRE:</label></th>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Nombre" ng-model="nombre"></td>
                                <td><label>APELLIDO</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Apelldio" ng-model="apellido"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button></td>
                                <td><button type="button" ng-click="limpiarUsu()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button></td>
                                <td><button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th style="text-align: center">Roles</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in usuarios | orderBy:'usuarioUsuario'">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.usuarioUsuario}}</td>
                        <td>{{rl.persona.nombrePersona}}</td>
                        <td>{{rl.persona.apellidoPersona}}</td>
                        <td>{{rl.persona.emailPersona}}</td>
                        <td>{{rl.persona.ciPersona}}</td>
                        <td>{{rl.persona.telefonoPersona}}</td>
                        <td>
                <center><button class="btn btn-primary btn-sm" ng-click="verRoles(rl)" ><span class="glyphicon glyphicon-search"></span></button></center></td>
                <td><center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FIN-->


<div id="addUsuario" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Agregar Usuarios</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/update-key.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required ng-model="usuarioAgregar.usuarioUsuario"></div>
                        <div class="col-md-2"><label>Contraseña:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" required ng-model="usuarioAgregar.claveUsuario"></div>
                        <div class="col-md-2"><label>Confirmar</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" required ng-model="usuarioAgregar.confirmacion"></div>
                        <div class="col-md-2"><label>Persona:</label></div>
                        <div class="col-md-10"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="usuarioAgregar.persona" ng-model="idPersona" required></div></div>
                        <!--                        <div class="col-md-2"><label>Rol:</label></div>
                                                <div class="col-md-8"><div custom-select="g for g in nestedItemsLevelRol | filter: $searchTerm" custom-select-options="usuarioAgregar.rol" ng-model="idRol" required></div></div>-->
                    </div>

                    <!--<center><b>ROLES</b></center>-->
                    <br>
                    <br>
                    <!--NEW-->
                    <div id="listBox" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                    <ul class="list-group">
                                        <span ng-repeat="r in roles track by r.idRol">
                                            <li class="list-group-item">
                                                {{r.descripcionRol}}<input type="hidden" id="dato{{r.descripRol}}" value="{{r.idRol}}"></li>
                                        </span>                                    
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="back()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                    <ul class="list-group" id="listSeleccionado">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="updateUsuario" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Actualizar Usuarios</div></div>
                <div class="col-lg-2"></div>
                <div id="deshabilitarClave" style="display: none" class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="deshabilitarClaves()" ><img src="../../../img/key-secret.jpg" style="width: 48px; height: 48px" alt=""/></a></div>
                </div>
                <div id="habilitarClave" class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="habilitarClaves()" ><img src="../../../img/update-key.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="usuarioModificar.idUsuario">
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="usuarioModificar.usuarioUsuario"></div>
                        <div class="col-md-2" id="lblClaveActual" ><label>Clave Actual:</label></div>
                        <div class="col-md-10" id="txtClaveActual" ><input type="password" class="form-control" ng-model="usuarioModificar.claveActual"></div>
                        <div class="col-md-2" id="lblContrasenha" ><label>Contraseña:</label></div>
                        <div class="col-md-10" id="txtContrasenha" ><input type="password" class="form-control" ng-model="usuarioModificar.claveUsuario"></div>
                        <div class="col-md-2" id="lblConfirmar" ><label>Confirmar</label></div>
                        <div class="col-md-10" id="txtConfirmar" ><input type="password" class="form-control" ng-model="usuarioModificar.confirmacion"></div>
<!--                        <div class="col-md-2" id="lblClaveActual" style="display: none"><label>Clave Actual:</label></div>
                        <div class="col-md-10" id="txtClaveActual" style="display: none"><input type="password" class="form-control" ng-model="usuarioModificar.claveActual"></div>
                        <div class="col-md-2" id="lblContrasenha" style="display: none"><label>Contraseña:</label></div>
                        <div class="col-md-10" id="txtContrasenha" style="display: none"><input type="password" class="form-control" ng-model="usuarioModificar.claveUsuario"></div>
                        <div class="col-md-2" id="lblConfirmar" style="display: none"><label>Confirmar</label></div>
                        <div class="col-md-10" id="txtConfirmar" style="display: none"><input type="password" class="form-control" ng-model="usuarioModificar.confirmacion"></div>-->
                    </div>
                    <br>

                    <!--NEW-->
                    <div id="listBoxModificar" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group">
                                        <span ng-repeat="rl in roles track by rl.idRol">
                                            <li class="list-group-item">
                                                {{rl.descripcionRol}}<input type="hidden" id="datoUpdate{{rl.descripRol}}" value="{{rl.idRol}}"></li>
                                        </span>         
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="backUpdate()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group" id="listSeleccionadoUpdate">

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--INICIO-->
<!--<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="usuarioModificar.idUsuario">
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="usuarioModificar.usuarioUsuario"></div>
                        <div class="col-md-2"><label>ClaveAct:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.claveActual"></div>
                        <div class="col-md-2"><label>Contraseña:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.claveUsuario"></div>
                        <div class="col-md-2"><label>Confirmar</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.confirmacion"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>-->
<!-- /.modal-dialog --> 
</div>
</div>
<!--<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" ng-model="idUsu">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="usuarioModificar.idUsuario">
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="usuarioModificar.usuarioUsuario"></div>
                        <div class="col-md-2"><label>ClaveAct:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.claveActual"></div>
                        <div class="col-md-2"><label>Contraseña:</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.claveUsuario"></div>
                        <div class="col-md-2"><label>Confirmar</label></div>
                        <div class="col-md-10"><input type="password" class="form-control" ng-model="usuarioModificar.confirmacion"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <span id="mensajeEnvio"></span>
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
             /.modal-content  
        </div>
         /.modal-dialog  
    </div>
</div>-->

<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Roles</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rl in roles">
                                <td>{{$index + 1}}</td>
                                <td><center>{{rl.descripcionRol}}</center></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="salirModal()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>
