<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>ROLES
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Roles</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>   

<div id="menuRol" class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>ROL:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Roles" ng-model="filterText"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Descripción</th>
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in roles">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descripcionRol}}</td>
                        <td ng-if="rl.estado === true"> 
                            <!--<img src="../../../img/good.png" style="width: 24px;" alt=""/>-->
                <center><span class="label label-success">Activo</span></center>
                </td>
                <td ng-if="rl.estado === false"> 
                <center><span class="label label-default">Inactivo</span></center>
                <!--<img src="../../../img/error.gif" style="width: 22px;" alt=""/>-->
                </td>
                <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                        <div style="text-align: center" id="paginacionesRoles" >
                                                </div>-->
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addRol" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Agregar Roles</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" id="descriRol" ng-model="rolAgregar.descripcionRol"></div>
                        <div class="col-md-2"><label>Módulo</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelModulo | filter: $searchTerm" ng-change="onChanged()" custom-select-options="rolAgregar.modulo" ng-model="idModulo"></div></div>
                    </div>
                    <br>

                    <!--NEW-->
                    <div id="listBox" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group">
                                        <span ng-repeat="func in funciones track by func.idFuncion">
                                            <li class="list-group-item">
                                                {{func.descripcionFuncion}}<input type="hidden" id="dato{{func.descripFunc}}" value="{{func.idFuncion}}"></li>
                                        </span>                                    

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="back()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group" id="listSeleccionado">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updateRol" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Actualizar Roles</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="rolModificar.idRol">
                        <input type="hidden" ng-model="rolModificar.descriRolMod">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" id="descriRol" ng-model="rolModificar.descripcionRol"></div>
                        <div class="col-md-2"><label>Módulo</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelModuloModificar | filter: $searchTerm" ng-change="onChangedUpdate()" custom-select-options="rolModificar.modulo" ng-model="idModulo"></div></div>
                    </div>
                    <br>

                    <!--NEW-->
                    <div id="listBoxModificar" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div  class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div  class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group">
                                        <div id="primeraLista">
                                            <span ng-repeat="func in funciones track by func.idFuncion">
                                                <li class="list-group-item">
                                                    {{func.descripcionFuncion}}<input type="hidden" id="datoUpdate{{func.descripFunc}}" value="{{func.idFuncion}}"></li>
                                            </span>    
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="backUpdate()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group" id="listSeleccionadoUpdate">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrarUpdate()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="rolModificar.idRol">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="rolModificar.descripcionRol"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
