<html ng-app="domoAdminApp">
    <head>
        <title>DomoAdmin | 2017</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="../../../../../../script/lib/moment.js" type="text/javascript"></script>

        <script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>
        <link href="../../../css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <script src="../../../script/lib/angularjs.js" type="text/javascript"></script>
        <!--<link href="../../../css/listBoxCss.css" rel="stylesheet" type="text/css"/>-->

        <!START pagination-->
    <script src="../../../script/lib/angular-animate.js" type="text/javascript"></script>
    <script src="../../../script/lib/angular-sanitize.js" type="text/javascript"></script>
    <!--<script src="../../../script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
    <script src="../../../script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
    <!FINISH <!pagination-->
        <link href="../../../css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>

        <link href="../../../css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/png" href="../../../img/icon_1.png" />

        <!--template-->
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link href="../../../template/css/styles.css" rel="stylesheet" type="text/css"/>

        <!--Icons-->
        <script src="../../../template/js/lumino.glyphs.js" type="text/javascript"></script>
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/adminCss.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="../../../script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>
        <!--<script src="../../../https://rawgit.com/CautemocSg/ng-ip-address/master/ngIpAddress.min.js"></script>-->
        <link href="../../../css/estiloBotonesAdmin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="usuarioEdificioCtrl">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="reload()"><span>Admin</span>instración</a>
                        <ul class="user-menu">
                            <li class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><span id="principal"></span> &nbsp;&nbsp; {{userLog}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
                                    <li id="senHumo" ng-click="modalHumo()"><a href="#"><span id="sensorHumo"></span> &nbsp;&nbsp; Sensor Humo</a></li>
                                    <!--<li><a href="../../../menu.html"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Sensor Humedad</a></li>-->
                                    <li id="senMov" ng-click="modalMov()"><a href="#"><span id="sensorMov"></span> &nbsp;&nbsp; Sensor Movimiento</a></li>
                                    <li><a href="../admin/edificio02.html"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Administración</a></li>
                                    <li><a href="../../../menu.html"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Menú Principal</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>

                </div><!-- /.container-fluid -->
            </nav>
            <br>
            <div class="row">
                <ol class="breadcrumb">
                    &nbsp;&nbsp;<li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active"></li>Administración
                </ol>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Panel de Administraciones <span id="nomEdifi" style="display: none">{{nomEdifi}}</span></h2>
                </div>
            </div>

            <div id="edificios" class="row">
            </div>
            <div class="row" id="alertJS">
                <div style="display: none" class="popupunder alerta alert-danger"><span id="mensajeAlert"></span></div>
            </div>
            <div class="row" id='sens' style="display: none">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="glyphicon glyphicon-home"></span>
                                            SENSORES DE TEMPERATURA
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div id='sensoresTemp'>

                                                </div>
                                                <!--                                                <div class="col-sm-3">
                                                                                                    <div class="col-item">
                                                                                                        <div class="photo">
                                                                                                            <b><span style="font-size: 20px"><button type="button" disabled="disabled">TEMP ACTUAL: <span style="color: red">25ºC</span></button></span></b><br><br>
                                                                                                            <b><span style="font-size: 25px"><button type="button" disabled="disabled">TEMP MIN: <span style="color: red">25ºC</span></button></span></b><br>
                                                                                                            <b>ACONDICIONADOR DE AIRE CASA DIEGO</b><br>
                                                                                                            <b>SENSOR ACTIVADO</b><br>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <!--            <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <center>
                                                <b>TEMPERATURA ACTUAL</b><br>
                                                <b><span style="font-size: 24px">25ºC</span></b><br>
                                                <b>TEMPERATURA MINIMA</b><br>
                                                <b><span style="font-size: 28px"><button type="button" disabled="disabled">25ºC</button></span></b><br><br>
                                                <b>ACONDICIONADOR DE AIRE</b><br>
                                                <b>SENSOR ACTIVADO</b><br>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
            <!--<br>-->

            <div class="row" id="detalleDatos">
                <!--                <div class="col-sm-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        Menu           <h3 class="panel-title">
                                                            <span class="glyphicon glyphicon-home"></span>SANITARIO
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/><br/>FOCO</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FLUOR</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>             
                                <div class="col-sm-6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <span class="glyphicon glyphicon-home">
                                                            </span>SALA</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FOCO</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>CONTROL</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FLUOR</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FLUOR</a>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FOCO</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>CONTROL</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FLUOR</a>
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>FLUOR</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span>COMEDOR</h3>
                                                    </div><div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" class="btn btn-default btn-lg" role="button"><img src="../../../img/admin/fan.png" alt="" style="width: 22px; height: 22px"/> <br/>VELADOR</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                <!--                <div class="col-sm-6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <span class="glyphicon glyphicon-home">
                                                            </span>COMEDOR</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" class="btn btn-default btn-lg" role="button" disabled style="color: #C0C0C0"><img src="../../../img/admin/PUERTA.png" alt="" style="width: 22px; height: 22px"/><br/>anomas</a>&nbsp;&nbsp;
                                                                <div class="col-sm-6">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="panel panel-primary">
                                                                                    <div class="panel-heading">
                                                                                        <h4 class="panel-title"><span class="glyphicon glyphicon-home"></span>SALA</h4>
                                                                                    </div>
                                                                                    <div class="panel-body">
                                                                                        <div class="row">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12">
                                                                <a href="#" ng-click="activarOperacion(11, 2)" class="btn btn-default btn-lg" role="button">
                                                                    <img src="../../../img/admin/ILUMINACION.png" alt="" style="width: 22px; height: 22px"/>
                                                                    <br/>aaaqqqqqq</a>&nbsp;&nbsp;
                                                                <a href="#" ng-click="activarOperacion(28, 2)" class="btn btn-default btn-lg" role="button">
                                                                    <img src="../../../img/admin/ILUMINACION.png" alt="" style="width: 22px; height: 22px"/>
                                                                    <br/>c</a>&nbsp;&nbsp;
                                                                <a href="#" class="btn btn-default btn-lg" role="button" disabled style="color: #C0C0C0">
                                                                    <img src="../../../img/admin/VENTILADOR.png" alt="" style="width: 22px; height: 22px"/> 
                                                                    <br/>NOUDOS</a>&nbsp;&nbsp;
                                                                <a href="#" ng-click="activarOperacion(10, 2)" class="btn btn-default btn-lg" role="button">
                                                                    <img src="../../../img/admin/VENTILADOR.png" alt="" style="width: 22px; height: 22px"/> 
                                                                    <br/>Acceso #2</a>&nbsp;&nbsp;
                                                                <div class="col-sm-6">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="panel panel-primary">
                                                                                    <div class="panel-heading">
                                                                                        <h4 class="panel-title"><span class="glyphicon glyphicon-home"></span>SANITARIO</h4>
                                                                                    </div><div class="panel-body">
                                                                                        <div class="row">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12"><a href="#" ng-click="activarOperacion(25, 2)" class="btn btn-default btn-lg" role="button">
                                                                    <img src="../../../img/admin/ILUMINACION.png" alt="" style="width: 22px; height: 22px"/> 
                                                                    <br/>a</a>&nbsp;&nbsp;<a href="#" ng-click="activarOperacion(26, 2)" class="btn btn-primary btn-lg" role="button">
                                                                    <img src="../../../img/admin/ILUMINACION.png" alt="" style="width: 22px; height: 22px"/> 
                                                                    <br/>b</a>&nbsp;&nbsp;
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
            </div>
        </div>

        <div class="modal fade" id="modalDetallesMovimiento" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Detalles</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                                <thead >
                                <th>#</th>
                                <th style="text-align: center">Edificio</th>
                                <th style="text-align: center">Dependencia</th>
                                <th style="text-align: center">Sensor</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Hora</th>
                                </thead>
                                <tbody id="detalleTablaMovimiento">
                                    <tr ng-repeat="rl in movimientos">
                                        <td>{{$index + 1}}</td>
                                        <td><center>{{rl.nodo.edificio.descriEdificio}}</center></td>
                                <td><center>{{rl.nodo.dependencia.descriDependencia}}</center></td>
                                <td><center>{{rl.descriMov}}</center></td>
                                <td><center>{{rl.fechaInicioMov| date:"yyyy-MM-dd"}}</center></td>
                                <td><center>{{rl.horaInicioMov}}</center></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer ">
                            <button type="button" ng-click="salirModal()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalDetallesHumo" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Detalles</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                                <thead >
                                <th>#</th>
                                <th style="text-align: center">Edificio</th>
                                <th style="text-align: center">Dependencia</th>
                                <th style="text-align: center">Sensor</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Hora</th>
                                </thead>
                                <tbody id="detalleTablaHumo">
                                    <tr ng-repeat="rl in humo">
                                        <td>{{$index + 1}}</td>
                                        <td><center>{{rl.nodo.edificio.descriEdificio}}</center></td>
                                <td><center>{{rl.nodo.dependencia.descriDependencia}}</center></td>
                                <td><center>{{rl.descriHumo}}</center></td>
                                <td><center>{{rl.fechaInicioHumo| date:"yyyy-MM-dd"}}</center></td>
                                <td><center>{{rl.horaInicioHumo}}</center></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer ">
                            <div class="row">
                                <!--<div class="col-md-6">-->
                                <!--<button type="button" ng-click="masDetallesHumo()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Más Detalles</button>-->
                                <!--</div>-->
                                <!--<div class="col-md-6">-->
                                <button type="button" ng-click="salirModal()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../../script/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/base64.js" type="text/javascript"></script>
        <script src="../../../script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <script src="../../../script/lib/customSelect.js" type="text/javascript"></script>

        <!--CHART-->
        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
        <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  
        <!--FIN CHART-->

        <script src="../../../script/lib/angular-route.js" type="text/javascript"></script>
        <script src="../../../script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/ngCookies.js" type="text/javascript"></script>
        <script src="../../../script/app.js" type="text/javascript"></script>

        <script src="../../../script/controller/usuario-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/controlAcceso-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/roles-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/modulo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/marca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/dependencia-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/ciudad-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoEdificio-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/personas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/andeCategoria-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placa-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/elemento-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/parametro-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/fallido-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/accesoFinger-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoComponente-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tarifas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/edificios-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodos-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/componentes-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/administracion-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/manejo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlaca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlacaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/plan-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumoGral-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodoPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/usuarioEdificio-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/humedad-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/humo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/movimiento-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/temperatura-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/sensor-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/sensorNodo-controller.js" type="text/javascript"></script>

        <script src="../../../script/service/usuario-service.js" type="text/javascript"></script>
        <script src="../../../script/service/persona-service.js" type="text/javascript"></script>
        <script src="../../../script/service/controlAcceso-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol-service.js" type="text/javascript"></script>
        <script src="../../../script/service/modulo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/marca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/dependencia-service.js" type="text/javascript"></script>
        <script src="../../../script/service/ciudad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoEdificio-service.js" type="text/javascript"></script>
        <script src="../../../script/service/andeCategoria-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placa-service.js" type="text/javascript"></script>
        <script src="../../../script/service/elemento-service.js" type="text/javascript"></script>
        <script src="../../../script/service/parametro-service.js" type="text/javascript"></script>
        <script src="../../../script/service/fallido-service.js" type="text/javascript"></script>
        <script src="../../../script/service/accesoFinger-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoComponente-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tarifas-service.js" type="text/javascript"></script>
        <script src="../../../script/service/edificios-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodos-service.js" type="text/javascript"></script>
        <script src="../../../script/service/componentes-service.js" type="text/javascript"></script>
        <script src="../../../script/service/entidad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/administracion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlaca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlacaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/plan-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumoGral-service.js" type="text/javascript"></script>
        <script src="../../../script/service/control_nodo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodoPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol_funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/usuarioRol-service.js" type="text/javascript"></script>
        <script src="../../../script/service/usuarioEdificio-service.js" type="text/javascript"></script>
        <script src="../../../script/service/humedad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/humo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/movimiento-service.js" type="text/javascript"></script>
        <script src="../../../script/service/temperatura-service.js" type="text/javascript"></script>
        <script src="../../../script/service/sensores-service.js" type="text/javascript"></script>
        <script src="../../../script/service/sensorNodo-service.js" type="text/javascript"></script>

        <!--template-->
        <script src="../../../template/js/chart.min.js" type="text/javascript"></script>
        <script src="../../../script/pickList.js" type="text/javascript"></script>
        <script>
                                            function verDetalle(idEdificio) {
                                                console.log("EL EDIFICIO ES: " + idEdificio);
                                            }
        </script>

    </body>
</html>

