/*font Variables*/
$primary-font: "Roboto", sans-serif;
$title-font: "Rubik", sans-serif;

/*Color Variables*/
$primary-color: #ce0323;
$title-color: #002347;
$text-color: #7b838a;
$offwhite: #f9f9ff;

/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");
