<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>CONSUMO GENERAL
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Consumo General</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>  

<div id="menuInicial" class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Edificio:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Edificio" ng-model="filterText"></td>
                                <td><label>Fecha:</label></th>
                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda Fecha YYYY-MM-DD" id="fecha" ng-model="fecha"></td>
                                <td>
                                    <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button> &nbsp;&nbsp;<!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;<!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button> &nbsp;&nbsp;<!--</td>-->
                                    <!--                                <td><button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button></td>-->
                                    <!--<td>-->
                                    <!--<button type="button" ng-click="generar()" class="btn-default btn-sm">Gráficos</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead>
                <th>#</th>
                <th>Edificio</th>
                <th>Potencia</th>
                <th>Inicio</th>
                <th>Fin</th> 
                <th>Tiempo</th> 
                <th>Costo</th> 
                <th>Fecha</th>
                <!--<th style="text-align: center">Operación</th>-->
                </thead>
                <tbody>
                    <tr ng-repeat="rl in consumoGral">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.edificio.descriEdificio}}</td>
                        <td>{{rl.potencia}}</td>
                        <td>{{rl.inicio}}</td>
                        <td>{{rl.fin}}</td>
                        <td>{{rl.tiempo}} Seg.</td>
                        <td>{{rl.precio| number}} Gs.</td>
                        <td>{{rl.consumoFecha| date:"yyyy-MM-dd ' ' h:mm:ss"}}</td>
                        <td>
                            <!--                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                            <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addChart" class="row" style="display: none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Generar Gráficos</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nodo</label></div>
                        <div class="col-md-3"><div custom-select="t for t in nestedItemsLevel1 | filter: $searchTerm" ng-change="onChange()" custom-select-options="nodoPinAgregar.nodo" ng-model="idNodo"></div></div>

                    </div>
                    <div class="row" id="edificioPlaca" style="display: none">
                        <div class="col-md-2"><label>Edificio</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriEdificio"></div>
                        <div class="col-md-1"><label>Placa</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriPlaca"></div>
                    </div>
                    <div class="row" id="DependenciaComponente" style="display: none">
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriDependencia"></div>
                        <div class="col-md-1"><label>Componente</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriComponente"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Fecha:</label></div>
                        <div class="col-md-3"><input type="date" class="form-control" id="fechaDesde" ng-model="fechaDesde"></div>
                        <!--                        <div class="col-md-1" ><label>Hasta:</label></div>
                                                <div class="col-md-3" ><input type="date" class="form-control" ng-model="fechaHasta"></div>-->
                    </div>
                    <br>
                    <center>
                        <button type="button" ng-click="generarGrafico()" class="btn btn-success btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> Generar Gráfico </button>
                    </center>
                    <br>
                    <br>

                    <!--NEW-->
                    <div id="chart01" style="display: none">
                        <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="80%"></div>
                    </div>
                    <!--FINISH NEW-->

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Edificios</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.descriEdificio"></div>
                        <div class="col-md-2"><label>Dirección</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.direccionEdificio"></div>
                        <div class="col-md-2"><label>Teléfono</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioAgregar.telefEdificio"></div>
                        <div class="col-md-2"><label>Tipo</label></div>
                        <div class="col-md-10"><div custom-select="t for t in nestedItemsLevelTipo | filter: $searchTerm" custom-select-options="edificioAgregar.tipoEdificio" ng-model="idTipoEdi"></div></div>
                        <div class="col-md-2"><label>Persona</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPersona | filter: $searchTerm" custom-select-options="edificioAgregar.persona" ng-model="idPersona"></div></div>
                        <div class="col-md-2"><label>Ciudad</label></div>
                        <div class="col-md-10"><div custom-select="c for c in nestedItemsLevelCiudad | filter: $searchTerm" custom-select-options="edificioAgregar.ciudad" ng-model="idCiudad"></div></div>
                        <div class="col-md-2"><label>Categoría</label></div>
                        <div class="col-md-8"><div custom-select="ga for ga in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="edificioAgregar.andeCategoria" ng-model="idAndeCat"></div></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="edificioModificar.idEdificio">
                        <div class="row">
                            <div class="col-md-2"><label>Descripción</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.descriEdificio"></div>
                            <div class="col-md-2"><label>Dirección</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.direccionEdificio"></div>
                            <div class="col-md-2"><label>Teléfono</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.telefEdificio"></div>
                            <div class="col-md-2"><label>Tipo</label></div>
                            <!--<div class="col-md-10"><div custom-select="t for t in nestedItemsLevelTipoMod | filter: $searchTerm" custom-select-options="edificioModificar.tipoEdificio" ng-model="descriTipoEdi"></div></div>-->
                            <div class="col-md-10"><div custom-select="s.descriTipoEdi for s in tipoEdiMod | filter: { descriTipoEdi: $searchTerm } " ng-model="edificioModificar.tipoEdificio"></div></div>
                            <div class="col-md-2"><label>Persona</label></div>
                            <!--<div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPersonaMod | filter: $searchTerm" custom-select-options="edificioModificar.persona" ng-model="descriPersona"></div></div>-->
                            <div class="col-md-10"><div custom-select='(s.nombrePersona+" "+ s.apellidoPersona) for s in personaMod | filter: $searchTerm' ng-model="edificioModificar.persona"></div></div>
                            <div class="col-md-2"><label>Ciudad</label></div>
                            <!--<div class="col-md-10"><div custom-select="c for c in nestedItemsLevelCiudadMod | filter: $searchTerm" custom-select-options="edificioModificar.ciudad" ng-model="descriCiudad"></div></div>-->
                            <div class="col-md-10"><div custom-select="c.descriCiudad for c in ciudadMod | filter: { descriCiudad: $searchTerm } " ng-model="edificioModificar.ciudad"></div></div>
                            <div class="col-md-2"><label>Categoría</label></div>
                            <!--<div class="col-md-8"><div custom-select="s.idAndeCat as s.descriAndeCat for s in categoriasMod track by s.idAndeCat" custom-select-options="edificioModificar.andeCategoria" ng-model="descriAndeCat"></div></div>-->
                            <div class="col-md-8"><div custom-select="s.descriAndeCat for s in categoriasMod | filter: { descriAndeCat: $searchTerm }" ng-model="edificioModificar.andeCategoria"></div></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
