<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Menú
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Menú del Sistema</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-blue panel-widget ">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked bag"><use xlink:href="#stroked-email"></use></svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{registerCount}}</div>
                    <div class="text-muted" style="font-size: 13px">Usuarios</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-orange panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked empty-message"><use xlink:href="#stroked-home"></use></svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{edificioCount}}</div>                     
                    <div class="text-muted" style="font-size: 13px">FACULTADES</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-teal panel-widget">
            <div class="row no-padding">
                <span class="" href="#" ui-sref="plan" style="cursor: pointer">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">

                        <div class="large" style="font-size: 20px">POSTGRADO</div>
                        <div class="text-muted" style="font-size: 13px">Acceso Directo</div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-red panel-widget">
            <div class="row no-padding">
                <a class="" href="../partial/monitoreo/admin/edificio02.html" style="cursor: pointer">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large" style="font-size: 20px">MATERIAS</div>
                        <div class="text-muted" style="font-size: 13px">Acceso Directo</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!--<div class="panel-heading">Site Traffic Overview</div>-->
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="col-lg-12">
                        <center>
                            <div class="row">
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-8">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            </tr>
                                            <tr colspan="2">
                                        <div style="text-align:center;padding:1em 0;"> <h2>
                                                <span style="color:gray;"> Universidad Nihon Gakko - PARAGUAY</span>
                                            </h2>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <div style="text-align:center;padding:1em 0;"> <h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/country/py">
                                                                    <span style="color:gray;"></span>
                                                                </a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FAsuncion" width="100%" height="140" frameborder="0" seamless></iframe> </div></td>
                                                    <!--<td></td>-->
                                                    <td>
                                                        <!--<div style="text-align:center;padding:1em 0;"> <h3><span style="color:gray;"></span></h3>-->
                                                        <br>
                                                        <a target="_blank" href="http://hotelmix.es/weather/asuncion-18968"><img src="https://w.bookcdn.com/weather/picture/32_18968_1_4_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=582&anc_id=58190" alt="booked.net"/></a>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                    </table>


                                </div>
                                <div class="col-lg-2">
                                    <!--<a target="_blank" href="http://hotelmix.es/weather/asuncion-18968"><img src="https://w.bookcdn.com/weather/picture/32_18968_1_4_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=582&anc_id=58190" alt="booked.net"/></a>-->
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>