<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Mensajes
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Usuarios Pendientes</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">

                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead>
                <th>Usuarios</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th><center>Admin Edificios</center></th>
                <th><center>Roles</center></th>
                <th><center>Detalles</center></th>
                </thead>
                <tbody>
                    <tr ng-repeat="u in filterData = (usuarios| filter : {usuarioUsuario: filterText}) | limitTo:5:5*(page-1)">
                        <td>{{u.usuarioUsuario}}</td>
                        <td>{{u.persona.nombrePersona}}</td>
                        <td>{{u.persona.apellidoPersona}}</td>
                        <td>{{u.persona.emailPersona}}</td>
                        <td><center><button class="btn btn-primary btn-sm" ng-click="detalle(u)" ><span class="glyphicon glyphicon-plus-sign"></span></button></center></td>
                <td><center><button class="btn btn-primary btn-sm" ng-click="detalleRoles(u)" ><span class="glyphicon glyphicon-user"></span></button></center></td>
                <td><center><button class="btn btn-danger btn-sm" ng-click="eliminarSolicitud(u)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button id="detalles_view" class="btn btn-primary btn-sm" ng-click="confirmarRegistro(u)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></center></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <center>
                            <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                            ng-change="pageChanged()" items-per-page=5></uib-pagination>
                            <!--                            <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                                                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>-->
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" ng-model="idUsu">
                <div class="form-group">
                    <label>Nombre:</label> {{nomPer}}
                </div>
                <div class="form-group">
                    <label>Apellido:</label> {{apePer}}
                </div>
                <div class="form-group">
                    <label>Email</label> {{emailPer}}
                </div>
                <div class="form-group">
                    <label>Nombre Usuario: </label> {{nomUsu}}
                </div>
                <div class="form-group">
                    <label>Huella Digital:   </label> <input type="checkbox" id="fingerPrint" name="fingerPrint" />
                </div>
            </div>
            <!--            <span id="mensajeEnvio"><center><div class="alert alert-success">Enviando datos al Servidor... <img src="../img/cargando.gif" width="50" height="40" alt=""/></div></center></span>-->

            <div class="modal-footer ">
                <!--data-dismiss="modal"data-dismiss="modal"-->
                <!--<span id="mensajeEnvio"> <img src="../img/cargando.gif" width="100" height="90" alt=""/></span>-->
                <!--<span id="mensajeEnvio"><center><div class="alert alert-success">Enviando datos al Servidor... <img src="../img/cargando.gif" width="50" height="40" alt=""/></div></center></span>-->
                <span id="mensajeEnvio"></span>
                <button type="button" id="confirmar_edit" ng-click="confirmacion()" ng-show="show" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Registro de Accesos por Finger</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" ng-model="controlNodoAgregar.idControl" id="idControl">
                <div class="modal-body">
                    <!--<input type="hidden" ng-model="idUsu">-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Edificio: </label></div>
                            <div class="col-md-8"><div custom-select="g for g in nestedItemsLevelEdificio | filter: $searchTerm" ng-change="onChanged()" custom-select-options="controlNodoAgregar.edificio" id="idEdi" ng-model="idEdificio"></div></div>
                        </div>
                    </div>

                    <table id="tableControlNodo" class="table table-bordred table-striped">
                        <thead>
                        <th><center>Dependencia</center></th>
                        <th><center>Estado</center></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in nodos">
                                <td><center>{{n.dependencia.descriDependencia}}</center></td>
                        <td><center><input type="checkbox" id="data" value="{{n.idNodo}}"></center></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer ">
                        <!--<span id="mensajeEnvio"></span>-->
                        <button type="button" ng-click="registrarControlNodo()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                    </div>
                </div>
                <!--                <div class="form-group">
                                    <label>Edificio:   <div custom-select="g for g in edificios | filter: $searchTerm" custom-select-options="edificio" ng-model="idEdificio"></div>
                                </div>
                                <div class="form-group">
                                    <label>Dependencia:   <div custom-select="g for g in dependencias | filter: $searchTerm" custom-select-options="dependencia" ng-model="idDependencia"></div>
                                </div>-->
            </div>
            <!--            <span id="mensajeEnvio"><center><div class="alert alert-success">Enviando datos al Servidor... <img src="../img/cargando.gif" width="50" height="40" alt=""/></div></center></span>-->
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles - {{usuUser}} - {{usuNomApe}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytableDetalle" class="table table-bordred table-striped">
                        <input type="hidden" id="idUsu">
                        <input type="hidden" id="numMax">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Edificio</th>
                        <th style="text-align: center">Estados</th>
                        </thead>
                        <tbody id="tablaDetalle">

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="registrarUsuarioEdificio()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalleRoles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles - {{usuUser}} - {{usuNomApe}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytableDetalleRoles" class="table table-bordred table-striped">
                        <input type="hidden" id="idUsuRol">
                        <input type="hidden" id="numMaxRol">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Roles</th>
                        <th style="text-align: center">Estados</th>
                        </thead>
                        <tbody id="tablaDetalleRoles">

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="registrarRoles()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function cambioChkUsuEdi(id) {
//                alert($("#" + id).val());
    if ($("#" + id).val() + "" === "false") {
    $("#" + id).val("true");
//    $("#" + id + "data").val("true");
    } else if ($("#" + id).val() + "" === "true") {
    $("#" + id).val("false");
//    $("#" + id + "data").val("true");
    }
//                alert($("#" + id).val());
    }
    function cambioChkRol(id) {
//                alert($("#" + id).val());
    if ($("#" + id).val() + "" === "false") {
    $("#" + id).val("true");
    $("#" + id + "data").val("true");
    } else if ($("#" + id).val() + "" === "true") {
    $("#" + id).val("false");
    $("#" + id + "data").val("true");
    }
//                alert($("#" + id).val());
    }
</script>
