<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Placa Pin
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div>  

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Lista de PlacaPin</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <!--<button type="button" ng-click="agregar()" class=" btn-sm btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</button><span>&nbsp;</span><button type="button" ng-click="modificar()" class=" btn-sm btn-primary">Modificar</button></div>-->
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="table-responsive">

                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>PLACA:</label></td>
                                    <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Placa" ng-model="filterText"></td>
                                    <td><label>TIPO:</label></th>
                                    <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Tipo Placa" ng-model="tipo"></td>
                                    <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button></td>
                                    <td><button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button></td>
                                    <td><button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">

                            <thead >
                            <th>#</th>
                            <th>Placa</th>
                            <th>Tipo</th>
                            <th>Pin</th>
                            <th style="text-align: center">Operación</th>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="rl in filterData = (nodoPin| filter:filterText) | limitTo:10:10*(page-1)">-->
                                <tr ng-repeat="rl in placaPin">
                                    <td>{{$index + 1}}</td>
                                    <td>{{rl.placa.descriPlaca}}</td>
                                    <td>{{rl.tipoPlacaPin.tipoPlaca.descriTipo}}</td>
                                    <td>{{rl.tipoPlacaPin.pin}}</td>
                                    <td>
                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                <!--<button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                                </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                        <div style="text-align: center" id="paginacionesPlacaPin" >
                        
                                                </div>-->
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Placa Pin</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Placa</label></div>
                        <div class="col-md-10"><div custom-select="t for t in nestedItemsLevel1 | filter: $searchTerm" ng-change="onChanged()" custom-select-options="placaPinAgregar.placa" ng-model="idPlaca"></div></div>
                        <div class="col-md-2"><label>TipoPlaca</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="placaPinAgregar.descriTipo"></div>
                        <div class="col-md-2"><label>Pin</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPlacaPin | filter: $searchTerm" custom-select-options="placaPinAgregar.tipoPlacaPin" ng-model="idTipoPlacaPin"></div></div>

                        <!--                        <div class="col-md-2"><label>Categoría</label></div>
                                                <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="tarifaAgregar.andeCategoria" ng-model="idAndeCat"></div></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="tarifaModificar.idTarifaAnde">
                        <div class="row">
                            <div class="col-md-2"><label>Mínimo</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.trafiaRangoMin"></div>
                            <div class="col-md-2"><label>Máximo</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.tarifaRangoMax"></div>
                            <div class="col-md-2"><label>Tarifa</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.tarifaGsKwh"></div>
                            <!--                            <div class="col-md-2"><label>Categoría</label></div>
                                                        <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="tarifaAgregar.andeCategoria" ng-model="idAndeCat"></div></div>-->
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
