<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li> Control Acceso
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de Control Acceso <button type="button" ng-click="agregar()" class=" btn-sm btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</button><span>&nbsp;</span><button type="button" ng-click="modificar()" class=" btn-sm btn-primary">Modificar</button></div>
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;"> 

                            <thead >

                            <th>#</th>
                            <th>Edificio</th>
                            <!--<th ><center>Estado</center></th>-->
                            <th style="text-align: center">FingerPrint</th>
                            <th style="text-align: center">Usuario</th>
                            <th style="text-align: center">Estado</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rl in controles">
                                    <td>{{$index + 1}}</td>
                                    <td>{{rl.edificio}}</td>
                                    <td>{{rl.fingerPrint}}</td>
                                    <td>{{rl.usuario}}</td>
                                    <td>{{rl.estado}}</td>
                                    <td>
                                        <!--                            <center>
                                                                        <div ng-if="rl.estadoMarca == true">
                                                                            <img src="../../../img/good.png" alt="" style="width: 16px; height: 16px;">
                                                                        </div>
                                                                        <div ng-if="rl.estadoMarca == false">
                                                                            <img src="../../../img/error.gif" alt="" style="width: 16px; height: 16px;">
                                                                        </div>
                                        
                                                                    </center>-->
                                    </td>
                                    <td>
                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <center>
                            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-click="siguiente()"></ul>
                            <pre>Página: {{bigCurrentPage}} / {{numPages}}</pre>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"><label>Edificio:</label></div>
                        <div class="col-md-8"><input type="search" class="form-control" ng-model="controlAgregar.edificio"></div>
                        <div class="col-md-3"><label>FingerPrint:</label></div>
                        <div class="col-md-8"><input type="text" class="form-control" ng-model="controlAgregar.FingerPrint"></div>
                        <div class="col-md-3"><label>Usuario:</label></div>
                        <div class="col-md-8"><input type="search" class="form-control" ng-model="controlAgregar.usuario"></div>
                        <div class="col-md-3"><label>Estado:</label></div>
                        <div class="col-md-8"><input type="checkbox" class="form-control" ng-model="controlAgregar.Estado"></div>
                        <!--                                                <div class="col-md-3"><label>Fecha Modifica:</label></div>
                                                                        <div class="col-md-8"><input type="datetime" class="form-control" ng-model="marcaAgregar.fechaModMarca"></div>
                                                                        <div class="col-md-3"><label>Usuario Modifica:</label></div>
                                                                        <div class="col-md-8"><input type="text" class="form-control" ng-model="marcaAgregar.usuModMarca"></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="controlModificar.idControl">
                        <div class="col-md-2"><label>Edificio:</label></div>
                        <div class="col-md-10"><input type="search" class="form-control" ng-model="controlModificar.edificio"></div>
                        <div class="col-md-2"><label>FingerPrint:</label></div>
                        <div class="col-md-10"><input type="text" id="estadoMarcaModificar" class="form-control" ng-model="controlModificar.fingerPrint"></div>
                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10"><input type="search" id="estadoMarcaModificar" class="form-control" ng-model="controlModificar.usuario"></div>
                        <div class="col-md-2"><label>Estado:</label></div>
                        <div class="col-md-10"><input type="checkbox" id="estadoMarcaModificar" class="form-control" ng-model="controlModificar.Estado"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
