<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li> Ciudades
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Ciudades</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><label>CIUDAD:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Ciudades" ng-model="filterText"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;<button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Descripción</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="rl in filterData = (ciudad| filter : {descriCiudad: filterText}) | limitTo:10:10*(page-1)">-->
                    <tr ng-repeat="rl in ciudad">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriCiudad}}</td>
                        <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div>
                    <input type="hidden" id="paginaActual" value="0">
                    <center>
                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage" 
                            ng-change="pageChangedFiltro()"
                            boundary-links="true"
                            id="paginacionFiltro" style="display: none"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                        </pagination>
                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage"
                            style="display: none"
                            ng-change="pageChangedSinFiltro()"
                            id="paginacionSinFiltro"
                            boundary-links="true"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Ciudades</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"><label>Descripción:</label></div>
                        <div class="col-md-8"><input type="text" class="form-control" ng-model="ciudadAgregar.descriCiudad"></div>
                        <!--                        <div class="col-md-3"><label>Edificio:</label></div>
                                                <div class="col-md-8"><input type="search" class="form-control" ng-model="ciudadAgregar.descriCiudad"></div>
                                                <div class="col-md-3"><label>Estado:</label></div>
                                                <div class="col-md-8"><input type="checkbox" class="form-control" ng-model="ciudadAgregar.estadoCiudad"></div>-->
                        <!--                        <div class="col-md-3"><label>Fecha Alta:</label></div>
                                                <div class="col-md-8"><input type="datetime" class="form-control" ng-model="marcaAgregar.fechaAltaMarca"></div>
                                                <div class="col-md-3"><label>Usuario Alta:</label></div>
                                                <div class="col-md-8"><input type="text" class="form-control" ng-model="marcaAgregar.usuAltaMarca"></div>
                                                <div class="col-md-3"><label>Fecha Modifica:</label></div>
                                                <div class="col-md-8"><input type="datetime" class="form-control" ng-model="marcaAgregar.fechaModMarca"></div>
                                                <div class="col-md-3"><label>Usuario Modifica:</label></div>
                                                <div class="col-md-8"><input type="text" class="form-control" ng-model="marcaAgregar.usuModMarca"></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="ciudadModificar.idCiudad">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="ciudadModificar.descriCiudad"></div>
                        <!--                        <div class="col-md-2"><label>Edificio:</label></div>
                                                <div class="col-md-10"><input type="search" class="form-control" ng-model="ciudadModificar.edificios"></div>
                                                <div class="col-md-2"><label>Estado:</label></div>
                                                <div class="col-md-10"><input type="checkbox" class="form-control" ng-model="ciudadModificar.estadoCiudad"></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
