<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Sensores de Humo
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Sensores de Humo</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <!--<div id="saliendo" class="panel-headinLista de Accesosg"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
        </div>
    </div>
</div>

<div id="menuInicial" class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Descripción:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Descripción" ng-model="filterText"></td>
                                <td><label>Fecha</label></th>
                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda fecha YYYY-MM-DD" id="fecha" ng-model="fecha"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <!--<button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button>-->
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-stats"></span></button>
                                </td>
                            </tr>
                            <!--                                <tr>
                                                                <td><label>Fecha ejemplo:</label></th>
                                                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda fecha YYYY-MM-DD" id="fechaEjemplo" ng-model="fechaEjemplo"></td>                                  
                                                                <td><button type="button" ng-click="ejemplo()" class="btn-default btn-sm">Ejemplo</button></td>
                                                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Descripción</th>
                <th>Edificio</th>
                <th>Dependencia</th>
                <th><center>Humo</center></th>
                <th>Fecha</th>
                <th>Hora</th>
                <th><center>Valor Asignado</center></th>
                <!--<th style="text-align: center">Operación</th>-->
                </thead>
                <tbody id="detalleHumo">
                    <tr ng-repeat="rl in humo">
                        <!--<tr ng-repeat="rl in accesos | filter:filterText | limitTo:5:5*(page-1)">-->
                        <!--<tr ng-repeat="rl in filterData = (accesos | filter : {usuario: filterText}) | limitTo:5:5*(page-1)">-->
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriHumo}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <td><center>{{rl.humo}}</center></td>
                <td>{{rl.fechaInicioHumo| date:"yyyy-MM-dd"}}</td>
                <td>{{rl.horaInicioHumo}}</td>
                <td><center>{{rl.valorAsignado}}</center></td>
                <td>
                    <!--                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                </td>
                </tr>
                </tbody>
                <tbody id="detalleHumosidad">
                    <tr ng-repeat="rl in humo">
                        <!--<tr ng-repeat="rl in accesos | filter:filterText | limitTo:5:5*(page-1)">-->
                        <!--<tr ng-repeat="rl in filterData = (accesos | filter : {usuario: filterText}) | limitTo:5:5*(page-1)">-->
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriHumo}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <td><center>{{rl.humo}}</center></td>
                <td>{{rl.fechaInicioHumo| date:"yyyy-MM-dd"}}</td>
                <td>{{rl.horaInicioHumo}}</td>
                <td><center>{{rl.valorAsignado}}</center></td>
                <td>
                    <!--                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <!--                        <div style="text-align: center" id="paginacionesHistorial" >
                            
                                                    </div>-->
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                            <!--                        <center>
                                                        <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                                                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>
                            -->
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoAgregar.descripcionRol"></div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="accesoModificar.idRol">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoModificar.descripcionRol"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addChart" class="row" style="display: none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Generar Gráficos</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>&nbsp;&nbsp;&nbsp;&nbsp;Edificio</label></div>
                        <div class="col-md-3">&nbsp;&nbsp;&nbsp;<div custom-select="t for t in nestedItemsLevelEdificio | filter: $searchTerm" ng-change="onChangeEdificio()" custom-select-options="nodoPinAgregar.edificio" ng-model="idEdificio"></div></div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;<label>Nodo</label></div>
                        <div class="col-md-3">&nbsp;&nbsp;&nbsp;<div custom-select="t for t in nestedItemsLevel1 | filter: $searchTerm" ng-change="onChange()" custom-select-options="nodoPinAgregar.nodo" ng-model="idNodo"></div></div>

                    </div>
                    <div class="row" id="edificioPlaca" style="display: none">
                        <div class="col-md-2"><label>Placa</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriPlaca"></div>
                        <div class="col-md-1"><label>Ip</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.ipPlaca"></div>
                    </div>
                    <div class="row" id="DependenciaComponente" style="display: none">
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriDependencia"></div>
                        <div class="col-md-1"><label>Componente</label></div>
                        <div class="col-md-3"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriComponente"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;<label>Fecha:</label></div>
                        <div class="col-md-3"><span></span><input type="date" class="form-control" id="fechaDesde" ng-model="fechaDesde"></div>
                        <!--                        <div class="col-md-1" ><label>Hasta:</label></div>
                                                <div class="col-md-3" ><input type="date" class="form-control" ng-model="fechaHasta"></div>-->
                    </div>
                    <br>
                    <center>
                        <button type="button" ng-click="generarGrafico()" class="btn btn-success btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> Generar Gráfico </button>
                    </center>
                    <br>
                    <br>

                    <!--NEW-->
                    <div id="chart01" style="display: none">
                        <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="80%"></div>
                    </div>
                    <!--FINISH NEW-->

                </div>

            </div>
        </div>
    </div>
</div>
