<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>PLANES
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Planes</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>NODO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Descripcion" ng-model="filterText"></td>
                                <td><label>EDIFICIO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Edificio" ng-model="edificio"></td>
                            </tr>
                            <tr>
                                <td><label>DEPENDENCIA:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Dependencia" ng-model="dependencia"></td>
                                <td><label>COMPONENTE:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Componente" ng-model="componente"></td>
                            </tr>
                            <tr>
                                <td><label>PARAMETRO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Parámetro" ng-model="parametro"></td>
                                <td>
                                    <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                    <!--</td>-->
                                    <!--<td>-->&nbsp;&nbsp;
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Nodo</th>
                <th>Edificio</th>
                <th>Dependencia</th>
                <!--<th>Placa</th>--> 
                <th>Componente</th>
                <th style="text-align: center">Parámetro</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody id="detallePlan">
                    <tr ng-repeat="rl in plan">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.nodo.descriNodo}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <td>{{rl.nodo.componente.descriComponente}}</td>
                        <td>{{rl.parametro.descriParametro}}</td>
                        <td>{{rl.fechaIniPlan}} {{rl.horaIniPlan}}</td>
                        <td>{{rl.fechaFinPlan}} {{rl.horaFinPlan}}</td>
                        <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <!--<button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                    </td>
                    </tr>
                    </tbody>
                    <tbody id="detallePlanes">
                        <tr ng-repeat="rl in plan">
                            <td>{{$index + 1}}</td>
                            <td>{{rl.nodo.descriNodo}}</td>
                            <td>{{rl.nodo.edificio.descriEdificio}}</td>
                            <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                            <td>{{rl.nodo.componente.descriComponente}}</td>
                            <td>{{rl.parametro.descriParametro}}</td>
                            <td>{{rl.fechaIniPlan}} {{rl.horaIniPlan}}</td>
                            <td>{{rl.fechaFinPlan}} {{rl.horaFinPlan}}</td>
                            <td>
                    <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                        <!--<button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                        </td>
                        </tr>
                        </tbody>
                        </table>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col col-xs-4">
                                </div>
                                <div class="col col-xs-8">
                                    <!--<div class="col col-xs-12">-->
                                    <div>
                                        <input type="hidden" id="paginaActual" value="0">

                                        <!--                        <div style="text-align: center" id="paginacionesPlan" >
                                        
                                                                </div>-->
                                        <center>
                                            <pagination 
                                                total-items="totalItems" 
                                                ng-model="currentPage" 
                                                ng-change="pageChangedFiltro()"
                                                boundary-links="true"
                                                id="paginacionFiltro" style="display: none"
                                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                                            </pagination>
                                            <pagination 
                                                total-items="totalItems" 
                                                ng-model="currentPage"
                                                style="display: none"
                                                ng-change="pageChangedSinFiltro()"
                                                id="paginacionSinFiltro"
                                                boundary-links="true"
                                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                                            </pagination>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>

                        <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Planes</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!--<input type="hidden" ng-model="idUsu">-->
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2"><label>Nodo</label></div>
                                                <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelNodo | filter: $searchTerm" ng-change="onChanged()" custom-select-options="planAgregar.nodo" ng-model="idNodo"></div></div>
                                                <div class="col-md-2"><label>Edificio</label></div>
                                                <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="planAgregar.descriEdificio"></div>
                                                <div class="col-md-2"><label>Placa</label></div>
                                                <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="planAgregar.descriPlaca"></div>
                                                <div class="col-md-2"><label>Dependencia</label></div>
                                                <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="planAgregar.descriDependencia"></div>
                                                <div class="col-md-2"><label>Componente</label></div>
                                                <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="planAgregar.descriComponente"></div>
                                                <input type="hidden" class="form-control" disabled ng-model="planAgregar.tipoCompo">
                                                <div class="col-md-2"><label>Parámetro</label></div>
                                                <div class="col-md-10"><div custom-select="t for t in nestedItemsLevelParametro | filter: $searchTerm" custom-select-options="planAgregar.parametro" ng-model="idParametro"></div></div>
                                                <div class="col-md-2"><label>Fec.Inicio</label></div>
                                                <div class="col-md-10"><input type="date" class="form-control" ng-model="planAgregar.fechaIniPlan"></div>
                                                <div class="col-md-2"><label>Hor.Inicio</label></div>
                                                <div class="col-md-10"><input type="time" class="form-control" id="horaInicial" ng-model="planAgregar.horaIniPlan"></div>
                                                <div class="col-md-2"><label>Fec.Fin</label></div>
                                                <div class="col-md-10"><input type="date" class="form-control" ng-model="planAgregar.fechaFinPlan"></div>
                                                <div class="col-md-2"><label>Hor.Fin</label></div>
                                                <div class="col-md-10"><input type="time" class="form-control" id="horaFinal" ng-model="planAgregar.horaFinPlan"></div>
                                                <span style="display: none" id="horaIni">{{planAgregar.horaIniPlan| date: "HH:mm:ss"}}</span>
                                                <span style="display: none" id="horaFin">{{planAgregar.horaFinPlan| date: "HH:mm:ss"}}</span>
                                            </div>
                                        </div>

                                        <div class="modal-footer ">
                                            <!--<span id="mensajeEnvio"></span>-->
                                            <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content --> 
                                </div>
                                <!-- /.modal-dialog --> 
                            </div>
                        </div>
                        <div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <input type="hidden" ng-model="edificioModificar.idEdificio">
                                                <div class="row">
                                                    <div class="col-md-2"><label>Descripción</label></div>
                                                    <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.descriEdificio"></div>
                                                    <div class="col-md-2"><label>Dirección</label></div>
                                                    <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.direccionEdificio"></div>
                                                    <div class="col-md-2"><label>Teléfono</label></div>
                                                    <div class="col-md-10"><input type="text" class="form-control" ng-model="edificioModificar.telefEdificio"></div>
                                                    <div class="col-md-2"><label>Tipo</label></div>
                                                    <!--<div class="col-md-10"><div custom-select="t for t in nestedItemsLevelTipoMod | filter: $searchTerm" custom-select-options="edificioModificar.tipoEdificio" ng-model="descriTipoEdi"></div></div>-->
                                                    <div class="col-md-10"><div custom-select="s.descriTipoEdi for s in tipoEdiMod | filter: { descriTipoEdi: $searchTerm } " ng-model="edificioModificar.tipoEdificio"></div></div>
                                                    <div class="col-md-2"><label>Persona</label></div>
                                                    <!--<div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPersonaMod | filter: $searchTerm" custom-select-options="edificioModificar.persona" ng-model="descriPersona"></div></div>-->
                                                    <div class="col-md-10"><div custom-select='(s.nombrePersona+" "+ s.apellidoPersona) for s in personaMod | filter: $searchTerm' ng-model="edificioModificar.persona"></div></div>
                                                    <div class="col-md-2"><label>Ciudad</label></div>
                                                    <!--<div class="col-md-10"><div custom-select="c for c in nestedItemsLevelCiudadMod | filter: $searchTerm" custom-select-options="edificioModificar.ciudad" ng-model="descriCiudad"></div></div>-->
                                                    <div class="col-md-10"><div custom-select="c.descriCiudad for c in ciudadMod | filter: { descriCiudad: $searchTerm } " ng-model="edificioModificar.ciudad"></div></div>
                                                    <div class="col-md-2"><label>Categoría</label></div>
                                                    <!--<div class="col-md-8"><div custom-select="s.idAndeCat as s.descriAndeCat for s in categoriasMod track by s.idAndeCat" custom-select-options="edificioModificar.andeCategoria" ng-model="descriAndeCat"></div></div>-->
                                                    <div class="col-md-8"><div custom-select="s.descriAndeCat for s in categoriasMod | filter: { descriAndeCat: $searchTerm }" ng-model="edificioModificar.andeCategoria"></div></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer ">
                                            <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
