<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Personas
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Personas</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>NOMBRE:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Nombre" ng-model="filterText"></td>
                                <td><label>APELLIDO:</label></th>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Apellido" ng-model="apellido"></td>
                                <td><label>CEDULA:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Cédula" ng-model="ci"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button></td>
                                <td><button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button></td>
                                <td><button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list" style="font-size: 12px;">

                <thead >
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Fecha Nac</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in personas">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.nombrePersona}}</td>
                        <td>{{rl.apellidoPersona}}</td>
                        <td>{{rl.emailPersona}}</td>
                        <td>{{rl.ciPersona}}</td>
                        <td>{{rl.telefonoPersona}}</td>
                        <td>{{rl.fechaNac}}</td>
                        <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                        <div style="text-align: center" id="paginacionesPersonas" >
                                                </div>-->

                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage" 
                            ng-change="pageChangedFiltro()"
                            boundary-links="true"
                            id="paginacionFiltro" style="display: none"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                        </pagination>
                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage"
                            style="display: none"
                            ng-change="pageChangedSinFiltro()"
                            id="paginacionSinFiltro"
                            boundary-links="true"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.nombrePersona"></div>
                        <div class="col-md-2"><label>Apellido:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.apellidoPersona"></div>
                        <div class="col-md-2"><label>Email:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.emailPersona"></div>
                        <div class="col-md-2"><label>Documento:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.ciPersona"></div>
                        <div class="col-md-2"><label>Teléfono:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.telefonoPersona"></div>
                        <div class="col-md-2"><label>Fecha Nac.:</label></div>
                        <div class="col-md-10"><input type="date" class="form-control" ng-model="personaAgregar.fechaNac"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="personaModificar.idPersona">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.nombrePersona"></div>
                        <div class="col-md-2"><label>Apellido:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.apellidoPersona"></div>
                        <div class="col-md-2"><label>Email:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.emailPersona"></div>
                        <div class="col-md-2"><label>Documento:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.ciPersona"></div>
                        <div class="col-md-2"><label>Teléfono:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.telefonoPersona"></div>
                        <div class="col-md-2"><label>Fecha Nac.:</label></div>
                        <div class="col-md-10"><input type="date" class="form-control" ng-model="personaModificar.fechaNac"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
