<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Sensores de Humedad
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Sensores Humedad</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <!--<div id="saliendo" class="panel-headinLista de Accesosg"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Descripción:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Descripción" ng-model="filterText"></td>
                                <td><label>Fecha</label></th>
                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda fecha YYYY-MM-DD" id="fecha" ng-model="fecha"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                <!--<button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button>-->
                                <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                            <!--                                <tr>
                                                                <td><label>Fecha ejemplo:</label></th>
                                                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda fecha YYYY-MM-DD" id="fechaEjemplo" ng-model="fechaEjemplo"></td>                                  
                                                                <td><button type="button" ng-click="ejemplo()" class="btn-default btn-sm">Ejemplo</button></td>
                                                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Descripción</th>
                <th>Edificio</th>
                <th>Dependencia</th>
                <!--<th><center>Temperatura</center></th>-->
                <th>Fecha</th>
                <th>Hora</th>
                <!--<th><center>Valor Asignado</center></th>-->
                <!--<th style="text-align: center">Operación</th>-->
                </thead>
                <tbody id="detalleHumedad">
                    <tr ng-repeat="rl in humedad">
                        <!--<tr ng-repeat="rl in accesos | filter:filterText | limitTo:5:5*(page-1)">-->
                        <!--<tr ng-repeat="rl in filterData = (accesos | filter : {usuario: filterText}) | limitTo:5:5*(page-1)">-->
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriHumedad}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <!--<td><center>{{rl.temperatura}}</center></td>-->
                        <td>{{rl.fechaInicioHumedad| date:"yyyy-MM-dd"}}</td>
                        <td>{{rl.horaInicioHumedad}}</td>
                        <!--<td><center>{{rl.valorAsignado}}</center></td>-->
                <td>
                    <!--                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                </td>
                </tr>
                </tbody>
                <tbody id="detalleHumedades">
                    <tr ng-repeat="rl in humedad">
                        <!--<tr ng-repeat="rl in accesos | filter:filterText | limitTo:5:5*(page-1)">-->
                        <!--<tr ng-repeat="rl in filterData = (accesos | filter : {usuario: filterText}) | limitTo:5:5*(page-1)">-->
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriHumedad}}</td>
                        <td>{{rl.nodo.edificio.descriEdificio}}</td>
                        <td>{{rl.nodo.dependencia.descriDependencia}}</td>
                        <!--<td><center>{{rl.temperatura}}</center></td>-->
                        <td>{{rl.fechaInicioHumedad| date:"yyyy-MM-dd"}}</td>
                        <td>{{rl.horaInicioHumedad}}</td>
                        <!--<td><center>{{rl.valorAsignado}}</center></td>-->
                <td>
                    <!--                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>-->
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <!--                        <div style="text-align: center" id="paginacionesHistorial" >
                            
                                                    </div>-->
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                            <!--                        <center>
                                                        <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                                                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>
                            -->
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoAgregar.descripcionRol"></div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="accesoModificar.idRol">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoModificar.descripcionRol"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
