<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Administración de Estados
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div>  

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Lista de Estados</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <!--<button type="button" ng-click="agregar()" class=" btn-sm btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</button><span>&nbsp;</span><button type="button" ng-click="modificar()" class=" btn-sm btn-primary">Modificar</button></div>-->
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="table-responsive">

                        <input type="text" ng-focus="limpiarFecha()" class="form-control" placeholder="Filtro de Búsqueda por Usuario, Edificio" ng-model="filterText">
                        <br>

                        <label>DESDE:</label>
                        <input type="text" ng-focus="limpiarDescripcion()" name="S_Date" placeholder="YYYY-MM-dd" ng-model="startDate">&nbsp;&nbsp;

                        <label>HASTA:</label>
                        <input type="text" ng-focus="limpiarDescripcion()" name="E_Date" placeholder="YYYY-MM-dd" ng-model="endDate">

                        <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                        <br><br>

                        <table id="mytable" class="table table-bordred table-striped">
                            <thead >

                            <th>#</th>
                            <th>Descripción</th>
                            <th>Nodo</th>
                            <th>Temperatura</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>*** SOY POR DESCRIPCION ***</th>
                            <!--<th>Fin</th>-->
                            <!--<th style="text-align: center">Operación</th>-->
                            </thead>
                            <tbody>
                                <tr ng-repeat="rl in filterData = (admin| filter:filterText) | limitTo:5:5*(page-1)">
                                    <td>{{$index + 1}}</td>
                                    <td>{{rl.descriAdmin}}</td>
                                    <td>{{rl.nodo.descriNodo}}</td>
                                    <td>{{rl.temperatura}}</td>
                                    <td>{{rl.fechaInicioAdmin}}</td>
                                    <td>{{rl.horaInicioAdmin}}</td>
                                    <!--<td>{{rl.fechaFinAdmin| date:'yyyy-MM-dd HH:mm:ss '}}</td>-->
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <table id="mytableFecha" class="table table-bordred table-striped">
                        <thead >

                        <th>#</th>
                        <th>Descripción</th>
                        <th>Nodo</th>
                        <th>Temperatura</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <!--<th>Fin</th>-->
                        <!--<th style="text-align: center">Operación</th>-->
                        </thead>
                        <tbody>

                            <tr ng-repeat="datos in administracion| myfilter: startDate: endDate: 'fechaInicioAdmin' | limitTo:5:5*(page-1)">
                                <!--<tr ng-repeat="subject in records | myfilter: startDate: endDate: 'name'">-->
                                <td>{{$index + 1}}</td>
                                <td>{{datos.descriAdmin}}</td>
                                <td>{{datos.nodo.descriNodo}}</td>
                                <td>{{datos.temperatura}}</td>
                                <!--<td>{{datos.fechaInicioAdmin| date:'yyyy-MM-dd HH:mm:ss '}}</td>-->
                                <td>{{datos.fechaInicioAdmin}}</td>
                                <td>{{datos.horaInicioAdmin}}</td>
                                <!--<td>{{datos.fechaFinAdmin| date:'yyyy-MM-dd HH:mm:ss '}}</td>-->
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="paginacion1">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
                <div id="paginacion2">
                    <uib-pagination class="pagination-sm pagination" total-items="startDate.length" ng-model="page"
                                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoAgregar.descripcionRol"></div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="accesoModificar.idRol">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="accesoModificar.descripcionRol"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

EJEMPLO DE FILTROS POR FECHA: 
https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview

https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview
